/* screen - 4-forgot-password-2 */

.x4-forgot-password-2 {
  align-items: flex-start;
  background-color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 917px;
  justify-content: flex-start;
  min-width: 1280px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  padding: 0 53px;
  position: relative;
  width: auto;
}

.x4-forgot-password-2 .body-kBwlFF {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 1px;
  margin-top: 64px;
  min-height: 657px;
  position: relative;
  width: 1173px;
}

.x4-forgot-password-2 .topnav-E8a4ox {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 50px;
  justify-content: flex-start;
  min-width: 1173px;
  position: relative;
  width: auto;
}

.x4-forgot-password-2 .component-6-1wMKch {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 38px;
  justify-content: flex-start;
  min-width: 213px;
  mix-blend-mode: normal;
  position: relative;
  width: auto;
}

.x4-forgot-password-2 .logo-JujVhO {
  background-color: transparent;
  flex-shrink: 1;
  height: 38px;
  margin-left: 0px;
  mix-blend-mode: normal;
  position: relative;
  width: 28px;
}

.x4-forgot-password-2 .title-i23027466735-JujVhO {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 46.8px;
  margin-left: 19px;
  margin-top: -5px;
  min-height: 47px;
  min-width: 96px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x4-forgot-password-2 .top-nav-1wMKch {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 50px;
  justify-content: flex-start;
  margin-left: 697px;
  overflow: hidden;
  position: relative;
  width: 263px;
}

.x4-forgot-password-2 .menu-horizontal-f94H5x {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 48px;
  justify-content: flex-start;
  min-width: 183px;
  mix-blend-mode: normal;
  padding: 0 24px;
  position: relative;
  width: auto;
}

.x4-forgot-password-2 .dropdown-item-wJld6W {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 48px;
  justify-content: flex-start;
  margin-left: 0px;
  min-width: 49px;
  mix-blend-mode: normal;
  position: relative;
  width: auto;
}

.x4-forgot-password-2 .label-GHmwJi {
  background-color: transparent;
  flex-shrink: 1;
  height: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  min-height: 24px;
  min-width: 51px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x4-forgot-password-2 .dropdown-item-31eWZT {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 48px;
  justify-content: flex-start;
  margin-left: 24px;
  min-width: 62px;
  mix-blend-mode: normal;
  position: relative;
  width: auto;
}

.x4-forgot-password-2 .label-FfXL4T {
  background-color: transparent;
  flex-shrink: 1;
  height: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  min-height: 24px;
  min-width: 64px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x4-forgot-password-2 .button-primary-f94H5x {
  align-items: center;
  background-color: var(--isko-violet);
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 50px;
  justify-content: flex-end;
  margin-left: 0px;
  min-width: 80px;
  mix-blend-mode: normal;
  padding: 0 13px;
  position: relative;
  width: auto;
}

.x4-forgot-password-2 .sign-up-yCT7UB {
  background-color: transparent;
  flex-shrink: 1;
  height: 28px;
  letter-spacing: 0.00px;
  line-height: 28px;
  min-height: 28px;
  min-width: 52px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.x4-forgot-password-2 .frame-213-E8a4ox {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 60px;
  min-height: 547px;
  position: relative;
  width: 635px;
}

.x4-forgot-password-2 .title-5vTuCF {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 46.8px;
  margin-left: 2.0px;
  min-height: 49px;
  min-width: 357px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 357px;
}

.x4-forgot-password-2 .frame-55-5vTuCF {
  align-items: center;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0px 0px 40px #3827a526;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 59px;
  min-height: 439px;
  mix-blend-mode: normal;
  padding: 50px 100px;
  position: relative;
  width: 635px;
}

.x4-forgot-password-2 .label-Uxjmtt {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 39px;
  margin-left: 3.0px;
  margin-top: 1px;
  min-height: 39px;
  min-width: 239px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.x4-forgot-password-2 .label-Ubxf4T {
  align-self: flex-end;
  background-color: transparent;
  color: var(--mirage);
  flex-shrink: 1;
  font-family: var(--font-family-poppins);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 30px;
  margin-top: 13px;
  min-height: 71px;
  min-width: 432px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: 432px;
}

.x23027480 {
  background-color: transparent;
  border: 1px solid #2f115f;
  border-radius: 4px;
  flex-shrink: 1;
  height: 50px;
  margin-top: 70px;
  opacity: 1;
  position: relative;
  width: 295px;
}

.x23027480 .frame-4-0NxSxf {
  background-color: #ffffff;
  height: 21px;
  left: 20px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: -10px;
  width: 125px;
}

.x23027480 .label-i2302748030348-9tzbZa {
  background-color: transparent;
  color: #2f115f;
  font-family: 'Poppins', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 21px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.x23027480 .text-i2302748030349-0NxSxf {
  background-color: transparent;
  border: 0;
  color: #b9b7bc;
  font-family: 'Poppins', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  height: 28px;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: 28px;
  mix-blend-mode: normal;
  opacity: 1;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 11px;
  white-space: nowrap;
  width: 257px;
}

.x23027480 .text-i2302748030349-0NxSxf::placeholder {
  color: #b9b7bc99;
}

.x4-forgot-password-2 .group-4-Uxjmtt {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 50px;
  justify-content: flex-start;
  margin-top: 45px;
  min-width: 295px;
  position: relative;
  width: auto;
}

.x4-forgot-password-2 .button-secondary-FwDWpb {
  align-items: center;
  background-color: var(--white);
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 50px;
  justify-content: flex-end;
  min-width: 140px;
  mix-blend-mode: normal;
  padding: 0 44.5px;
  position: relative;
  width: auto;
}

.x4-forgot-password-2 .label-fG1w7q {
  background-color: transparent;
  flex-shrink: 1;
  height: 28px;
  letter-spacing: 0.00px;
  line-height: 28px;
  min-height: 28px;
  min-width: 49px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.x4-forgot-password-2 .button-primary-FwDWpb {
  align-items: center;
  background-color: var(--isko-violet);
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 50px;
  justify-content: flex-end;
  margin-left: 15px;
  min-width: 140px;
  mix-blend-mode: normal;
  padding: 0 46.5px;
  position: relative;
  width: auto;
}

.x4-forgot-password-2 .label-rNPs84 {
  background-color: transparent;
  flex-shrink: 1;
  height: 28px;
  letter-spacing: 0.00px;
  line-height: 28px;
  min-height: 28px;
  min-width: 45px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
/* component - 230_27480 */

.x23027480 .frame-4-0NxSxf {
  background-color: #ffffff;
  height: 21px;
  left: 20px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: -10px;
  width: 125px;
}

.x23027480 .label-i2302748030348-9tzbZa {
  background-color: transparent;
  color: #2f115f;
  font-family: 'Poppins', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 21px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.x23027480 .text-i2302748030349-0NxSxf {
  background-color: transparent;
  border: 0;
  color: #b9b7bc;
  font-family: 'Poppins', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  height: 28px;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: 28px;
  mix-blend-mode: normal;
  opacity: 1;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 11px;
  white-space: nowrap;
  width: 257px;
}

.x23027480 .text-i2302748030349-0NxSxf::placeholder {
  color: #b9b7bc99;
}
