/* screen - 4-forgot-password-3 */

.x4-forgot-password-3 {
  align-items: flex-start;
  background-color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 917px;
  justify-content: flex-start;
  min-width: 1280px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  padding: 0 53px;
  position: relative;
  width: auto;
}

.x4-forgot-password-3 .body-C6iB2h {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 1px;
  margin-top: 64px;
  min-height: 657px;
  position: relative;
  width: 1173px;
}

.x4-forgot-password-3 .topnav-yRWvHJ {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 50px;
  justify-content: flex-start;
  min-width: 1173px;
  position: relative;
  width: auto;
}

.x4-forgot-password-3 .component-6-AnitpD {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 38px;
  justify-content: flex-start;
  min-width: 213px;
  mix-blend-mode: normal;
  position: relative;
  width: auto;
}

.x4-forgot-password-3 .logo-YrBbXQ {
  background-color: transparent;
  flex-shrink: 1;
  height: 38px;
  margin-left: 0px;
  mix-blend-mode: normal;
  position: relative;
  width: 28px;
}

.x4-forgot-password-3 .title-i23027491735-YrBbXQ {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 46.8px;
  margin-left: 19px;
  margin-top: -5px;
  min-height: 47px;
  min-width: 96px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x4-forgot-password-3 .top-nav-AnitpD {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 50px;
  justify-content: flex-start;
  margin-left: 697px;
  overflow: hidden;
  position: relative;
  width: 263px;
}

.x4-forgot-password-3 .menu-horizontal-MjrxzQ {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 48px;
  justify-content: flex-start;
  min-width: 183px;
  mix-blend-mode: normal;
  padding: 0 24px;
  position: relative;
  width: auto;
}

.x4-forgot-password-3 .dropdown-item-jk6sKa {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 48px;
  justify-content: flex-start;
  margin-left: 0px;
  min-width: 49px;
  mix-blend-mode: normal;
  position: relative;
  width: auto;
}

.x4-forgot-password-3 .label-OOhwM2 {
  background-color: transparent;
  flex-shrink: 1;
  height: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  min-height: 24px;
  min-width: 51px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x4-forgot-password-3 .dropdown-item-hKwnq0 {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 48px;
  justify-content: flex-start;
  margin-left: 24px;
  min-width: 62px;
  mix-blend-mode: normal;
  position: relative;
  width: auto;
}

.x4-forgot-password-3 .label-mExoHX {
  background-color: transparent;
  flex-shrink: 1;
  height: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  min-height: 24px;
  min-width: 64px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x4-forgot-password-3 .button-primary-MjrxzQ {
  align-items: center;
  background-color: var(--isko-violet);
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 50px;
  justify-content: flex-end;
  margin-left: 0px;
  min-width: 80px;
  mix-blend-mode: normal;
  padding: 0 13px;
  position: relative;
  width: auto;
}

.x4-forgot-password-3 .sign-up-Vy20gl {
  background-color: transparent;
  flex-shrink: 1;
  height: 28px;
  letter-spacing: 0.00px;
  line-height: 28px;
  min-height: 28px;
  min-width: 52px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.x4-forgot-password-3 .frame-215-yRWvHJ {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 60px;
  min-height: 547px;
  position: relative;
  width: 635px;
}

.x4-forgot-password-3 .title-HZjxH5 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 46.8px;
  margin-left: 2.0px;
  min-height: 49px;
  min-width: 357px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 357px;
}

.x4-forgot-password-3 .frame-55-HZjxH5 {
  align-items: center;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0px 0px 40px #3827a526;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 59px;
  min-height: 439px;
  mix-blend-mode: normal;
  padding: 50px 0;
  position: relative;
  width: 635px;
}

.x4-forgot-password-3 .label-BNK4u6 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 39px;
  margin-left: 3.0px;
  margin-top: 1px;
  min-height: 39px;
  min-width: 213px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.x23027510 {
  background-color: transparent;
  border: 1px solid #2f115f;
  border-radius: 4px;
  flex-shrink: 1;
  height: 50px;
  margin-top: 65px;
  opacity: 1;
  position: relative;
  width: 295px;
}

.x23027510 .frame-4-4d4ca7 {
  background-color: #ffffff;
  height: 21px;
  left: 20px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: -10px;
  width: 105px;
}

.x23027510 .label-i2302751030348-5MY8YR {
  background-color: transparent;
  color: #2f115f;
  font-family: 'Poppins', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 21px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.x23027510 .text-i2302751030349-4d4ca7 {
  background-color: transparent;
  border: 0;
  color: #b9b7bc;
  font-family: 'Poppins', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  height: 28px;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: 28px;
  mix-blend-mode: normal;
  opacity: 1;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 11px;
  white-space: nowrap;
  width: 257px;
}

.x23027510 .text-i2302751030349-4d4ca7::placeholder {
  color: #b9b7bc99;
}

.x23027511 {
  background-color: transparent;
  border: 1px solid #2f115f;
  border-radius: 4px;
  flex-shrink: 1;
  height: 50px;
  margin-top: 30px;
  opacity: 1;
  position: relative;
  width: 295px;
}

.x23027511 .frame-4-UqLkQs {
  background-color: #ffffff;
  height: 21px;
  left: 20px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: -10px;
  width: 133px;
}

.x23027511 .label-i2302751130348-Y1CxET {
  background-color: transparent;
  color: #2f115f;
  font-family: 'Poppins', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 21px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.x23027511 .text-i2302751130349-UqLkQs {
  background-color: transparent;
  border: 0;
  color: #b9b7bc;
  font-family: 'Poppins', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  height: 28px;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: 28px;
  mix-blend-mode: normal;
  opacity: 1;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 11px;
  white-space: nowrap;
  width: 257px;
}

.x23027511 .text-i2302751130349-UqLkQs::placeholder {
  color: #b9b7bc99;
}

.x4-forgot-password-3 .group-4-BNK4u6 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 50px;
  justify-content: flex-start;
  margin-top: 54px;
  min-width: 295px;
  position: relative;
  width: auto;
}

.x4-forgot-password-3 .button-secondary-4xgWxI {
  align-items: center;
  background-color: var(--white);
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 50px;
  justify-content: flex-end;
  min-width: 140px;
  mix-blend-mode: normal;
  padding: 0 44.5px;
  position: relative;
  width: auto;
}

.x4-forgot-password-3 .label-NXK2pR {
  background-color: transparent;
  flex-shrink: 1;
  height: 28px;
  letter-spacing: 0.00px;
  line-height: 28px;
  min-height: 28px;
  min-width: 49px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.x4-forgot-password-3 .button-primary-4xgWxI {
  align-items: center;
  background-color: var(--isko-violet);
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 50px;
  justify-content: flex-end;
  margin-left: 15px;
  min-width: 140px;
  mix-blend-mode: normal;
  padding: 0 42px;
  position: relative;
  width: auto;
}

.x4-forgot-password-3 .label-hfZSd0 {
  background-color: transparent;
  flex-shrink: 1;
  height: 28px;
  letter-spacing: 0.00px;
  line-height: 28px;
  min-height: 28px;
  min-width: 54px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
/* component - 230_27510 */

.x23027510 .frame-4-4d4ca7 {
  background-color: #ffffff;
  height: 21px;
  left: 20px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: -10px;
  width: 105px;
}

.x23027510 .label-i2302751030348-5MY8YR {
  background-color: transparent;
  color: #2f115f;
  font-family: 'Poppins', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 21px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.x23027510 .text-i2302751030349-4d4ca7 {
  background-color: transparent;
  border: 0;
  color: #b9b7bc;
  font-family: 'Poppins', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  height: 28px;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: 28px;
  mix-blend-mode: normal;
  opacity: 1;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 11px;
  white-space: nowrap;
  width: 257px;
}

.x23027510 .text-i2302751030349-4d4ca7::placeholder {
  color: #b9b7bc99;
}
/* component - 230_27511 */

.x23027511 .frame-4-UqLkQs {
  background-color: #ffffff;
  height: 21px;
  left: 20px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: -10px;
  width: 133px;
}

.x23027511 .label-i2302751130348-Y1CxET {
  background-color: transparent;
  color: #2f115f;
  font-family: 'Poppins', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 21px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.x23027511 .text-i2302751130349-UqLkQs {
  background-color: transparent;
  border: 0;
  color: #b9b7bc;
  font-family: 'Poppins', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  height: 28px;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: 28px;
  mix-blend-mode: normal;
  opacity: 1;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 11px;
  white-space: nowrap;
  width: 257px;
}

.x23027511 .text-i2302751130349-UqLkQs::placeholder {
  color: #b9b7bc99;
}
