/* screen - 4-forgot-password-1 */

.x4-forgot-password-1 {
  align-items: flex-start;
  background-color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 917px;
  justify-content: flex-start;
  min-width: 1280px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  padding: 0 53px;
  position: relative;
  width: auto;
}

.x4-forgot-password-1 .body-KKz01l {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 1px;
  margin-top: 64px;
  min-height: 657px;
  position: relative;
  width: 1173px;
}

.x4-forgot-password-1 .topnav-9L1lJN {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 50px;
  justify-content: flex-start;
  min-width: 1173px;
  position: relative;
  width: auto;
}

.x4-forgot-password-1 .component-6-yJ7sV7 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 38px;
  justify-content: flex-start;
  min-width: 213px;
  mix-blend-mode: normal;
  position: relative;
  width: auto;
}

.x4-forgot-password-1 .logo-zhQis0 {
  background-color: transparent;
  flex-shrink: 1;
  height: 38px;
  margin-left: 0px;
  mix-blend-mode: normal;
  position: relative;
  width: 28px;
}

.x4-forgot-password-1 .title-i23027443735-zhQis0 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 46.8px;
  margin-left: 19px;
  margin-top: -5px;
  min-height: 47px;
  min-width: 96px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x4-forgot-password-1 .top-nav-yJ7sV7 {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 50px;
  justify-content: flex-start;
  margin-left: 697px;
  overflow: hidden;
  position: relative;
  width: 263px;
}

.x4-forgot-password-1 .menu-horizontal-wEXM6s {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 48px;
  justify-content: flex-start;
  min-width: 183px;
  mix-blend-mode: normal;
  padding: 0 24px;
  position: relative;
  width: auto;
}

.x4-forgot-password-1 .dropdown-item-xA4sxa {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 48px;
  justify-content: flex-start;
  margin-left: 0px;
  min-width: 49px;
  mix-blend-mode: normal;
  position: relative;
  width: auto;
}

.x4-forgot-password-1 .label-bDWWrM {
  background-color: transparent;
  flex-shrink: 1;
  height: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  min-height: 24px;
  min-width: 51px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x4-forgot-password-1 .dropdown-item-je9qko {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 48px;
  justify-content: flex-start;
  margin-left: 24px;
  min-width: 62px;
  mix-blend-mode: normal;
  position: relative;
  width: auto;
}

.x4-forgot-password-1 .label-21HLgs {
  background-color: transparent;
  flex-shrink: 1;
  height: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  min-height: 24px;
  min-width: 64px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x4-forgot-password-1 .button-primary-wEXM6s {
  align-items: center;
  background-color: var(--isko-violet);
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 50px;
  justify-content: flex-end;
  margin-left: 0px;
  min-width: 80px;
  mix-blend-mode: normal;
  padding: 0 13px;
  position: relative;
  width: auto;
}

.x4-forgot-password-1 .sign-up-D1MR3D {
  background-color: transparent;
  flex-shrink: 1;
  height: 28px;
  letter-spacing: 0.00px;
  line-height: 28px;
  min-height: 28px;
  min-width: 52px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.x4-forgot-password-1 .frame-211-9L1lJN {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 60px;
  min-height: 547px;
  position: relative;
  width: 635px;
}

.x4-forgot-password-1 .title-L8wRVl {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 46.8px;
  margin-left: 2.0px;
  min-height: 49px;
  min-width: 357px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 357px;
}

.x4-forgot-password-1 .frame-55-L8wRVl {
  align-items: center;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0px 0px 40px #3827a526;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 59px;
  min-height: 439px;
  mix-blend-mode: normal;
  padding: 90px 124px;
  position: relative;
  width: 635px;
}

.x4-forgot-password-1 .input-a-valid-e-e-to-your-email-Z72YTx {
  align-self: flex-end;
  background-color: transparent;
  color: var(--mine-shaft);
  flex-shrink: 1;
  font-family: var(--font-family-poppins);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  height: 56px;
  letter-spacing: 0.00px;
  line-height: 28px;
  margin-top: 1px;
  min-height: 56px;
  min-width: 384px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: auto;
}

.x23027457 {
  background-color: transparent;
  border: 1px solid #2f115f;
  border-radius: 4px;
  flex-shrink: 1;
  height: 50px;
  margin-top: 49px;
  opacity: 1;
  position: relative;
  width: 295px;
}

.x23027457 .frame-4-iCYYx4 {
  background-color: #ffffff;
  height: 21px;
  left: 20px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: -10px;
  width: 41px;
}

.x23027457 .label-i2302745730348-UBNwrg {
  background-color: transparent;
  color: #2f115f;
  font-family: 'Poppins', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 21px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.x23027457 .text-i2302745730349-iCYYx4 {
  background-color: transparent;
  border: 0;
  color: #2f115f;
  font-family: 'Poppins', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  height: 28px;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: 28px;
  mix-blend-mode: normal;
  opacity: 1;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 11px;
  white-space: nowrap;
  width: 257px;
}

.x23027457 .text-i2302745730349-iCYYx4::placeholder {
  color: #2f115f99;
}

.x4-forgot-password-1 .flex-row-Z72YTx {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 50px;
  justify-content: flex-start;
  margin-top: 53px;
  min-width: 295px;
  position: relative;
  width: auto;
}

.x4-forgot-password-1 .button-secondary-BZ9pj0 {
  align-items: center;
  background-color: var(--white);
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 50px;
  justify-content: flex-end;
  min-width: 140px;
  mix-blend-mode: normal;
  padding: 0 35px;
  position: relative;
  width: auto;
}

.x4-forgot-password-1 .label-H4gZo8 {
  background-color: transparent;
  flex-shrink: 1;
  height: 28px;
  letter-spacing: 0.00px;
  line-height: 28px;
  min-height: 28px;
  min-width: 68px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.x4-forgot-password-1 .button-primary-BZ9pj0 {
  align-items: center;
  background-color: var(--isko-violet);
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 50px;
  justify-content: flex-end;
  margin-left: 15px;
  min-width: 140px;
  mix-blend-mode: normal;
  padding: 0 46.5px;
  position: relative;
  width: auto;
}

.x4-forgot-password-1 .label-xwaLxd {
  background-color: transparent;
  flex-shrink: 1;
  height: 28px;
  letter-spacing: 0.00px;
  line-height: 28px;
  min-height: 28px;
  min-width: 45px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
/* component - 230_27457 */

.x23027457 .frame-4-iCYYx4 {
  background-color: #ffffff;
  height: 21px;
  left: 20px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: -10px;
  width: 41px;
}

.x23027457 .label-i2302745730348-UBNwrg {
  background-color: transparent;
  color: #2f115f;
  font-family: 'Poppins', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 21px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.x23027457 .text-i2302745730349-iCYYx4 {
  background-color: transparent;
  border: 0;
  color: #2f115f;
  font-family: 'Poppins', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  height: 28px;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: 28px;
  mix-blend-mode: normal;
  opacity: 1;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 11px;
  white-space: nowrap;
  width: 257px;
}

.x23027457 .text-i2302745730349-iCYYx4::placeholder {
  color: #2f115f99;
}
