/* screen - 9-my-account-update-account */

.x9-my-account-update-account {
  align-items: flex-start;
  background-color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 1379px;
  justify-content: flex-start;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  padding: 0 48px;
  position: relative;
  width: 1280px;
}

.x9-my-account-update-account .body-p7oIXb {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 3px;
  margin-top: 64px;
  min-height: 1170px;
  position: relative;
  width: 1181px;
}

.x9-my-account-update-account .topnav-3d3CZJ {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 48px;
  justify-content: flex-start;
  min-width: 1181px;
  position: relative;
  width: auto;
}

.x9-my-account-update-account .component-6-4VksFk {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 38px;
  justify-content: flex-start;
  min-width: 213px;
  mix-blend-mode: normal;
  position: relative;
  width: auto;
}

.x9-my-account-update-account .logo-xlvq2P {
  background-color: transparent;
  flex-shrink: 1;
  height: 38px;
  margin-left: 0px;
  mix-blend-mode: normal;
  position: relative;
  width: 28px;
}

.x9-my-account-update-account .title-i23026657735-xlvq2P {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 46.8px;
  margin-left: 19px;
  margin-top: -5px;
  min-height: 47px;
  min-width: 96px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x9-my-account-update-account .frame-85-4VksFk {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 48px;
  justify-content: flex-start;
  margin-left: 470px;
  min-width: 498px;
  position: relative;
  width: auto;
}

.x9-my-account-update-account .right-h4AjpG {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 48px;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
  width: 498px;
}

.x9-my-account-update-account .menu-horizontal-98CPzR {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 48px;
  justify-content: flex-start;
  min-width: 470px;
  mix-blend-mode: normal;
  padding: 0 24px;
  position: relative;
  width: auto;
}

.x9-my-account-update-account .dropdown-item-TlONus {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 48px;
  justify-content: flex-start;
  margin-left: 0px;
  min-width: 48px;
  mix-blend-mode: normal;
  position: relative;
  width: auto;
}

.x9-my-account-update-account .label-9zoXeY {
  background-color: transparent;
  flex-shrink: 1;
  height: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  min-height: 24px;
  min-width: 50px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x9-my-account-update-account .dropdown-item-qFvrPd {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 48px;
  justify-content: flex-start;
  margin-left: 24px;
  min-width: 53px;
  mix-blend-mode: normal;
  position: relative;
  width: auto;
}

.x9-my-account-update-account .label-CBc4Yl {
  background-color: transparent;
  flex-shrink: 1;
  height: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  min-height: 24px;
  min-width: 55px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x9-my-account-update-account .dropdown-item-LGJxxj {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 48px;
  justify-content: flex-start;
  margin-left: 24px;
  min-width: 42px;
  mix-blend-mode: normal;
  position: relative;
  width: auto;
}

.x9-my-account-update-account .label-m4RRn4 {
  background-color: transparent;
  flex-shrink: 1;
  height: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  min-height: 24px;
  min-width: 44px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x9-my-account-update-account .dropdown-item-MKfAQE {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 48px;
  justify-content: flex-start;
  margin-left: 24px;
  min-width: 85px;
  mix-blend-mode: normal;
  position: relative;
  width: auto;
}

.x9-my-account-update-account .label-OrnxYt {
  background-color: transparent;
  flex-shrink: 1;
  height: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  min-height: 24px;
  min-width: 87px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x9-my-account-update-account .dropdown-item-a0sbUs {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 48px;
  justify-content: flex-start;
  margin-left: 24px;
  min-width: 98px;
  mix-blend-mode: normal;
  position: relative;
  width: auto;
}

.x9-my-account-update-account .label-BfZ4dM {
  background-color: transparent;
  flex-shrink: 1;
  height: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  min-height: 24px;
  min-width: 100px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x9-my-account-update-account .essentials-user-circle-98CPzR {
  background-color: transparent;
  flex-shrink: 1;
  height: 28px;
  margin-left: 0px;
  position: relative;
  width: 28px;
}

.x9-my-account-update-account .frame-153-3d3CZJ {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 58px;
  min-height: 1064px;
  position: relative;
  width: 1020px;
}

.x9-my-account-update-account .header-coins-shopping-bag-PgTEDA {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 34px;
  justify-content: flex-start;
  min-width: 706px;
  position: relative;
  width: auto;
}

.x9-my-account-update-account .welcome-back-charlene-B5LMKb {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 34px;
  justify-content: flex-start;
  min-width: 706px;
  mix-blend-mode: normal;
  position: relative;
  width: auto;
}

.x9-my-account-update-account .welcome-back-ch-i23026675751437-nYa54j {
  background-color: transparent;
  flex-shrink: 1;
  height: 34px;
  letter-spacing: 0.00px;
  line-height: 63.6px;
  min-height: 34px;
  min-width: 708px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 708px;
}

.x9-my-account-update-account .frame-152-PgTEDA {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 980px;
  justify-content: flex-start;
  margin-top: 50px;
  min-width: 1020px;
  position: relative;
  width: auto;
}

.x9-my-account-update-account .frame-137-cGymDZ {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 972px;
  justify-content: flex-start;
  min-width: 217px;
  position: relative;
  width: auto;
}

.x9-my-account-update-account .frame-136-tYntLz {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 251px;
  position: relative;
  width: 167px;
}

.x9-my-account-update-account .frame-154-Bx4Eys {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 171px;
  position: relative;
  width: 167px;
}

.x9-my-account-update-account .my-wallet-HwoSGg {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: 30px;
  letter-spacing: 0.00px;
  line-height: 30px;
  min-height: 30px;
  min-width: 99px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x9-my-account-update-account .update-account-HwoSGg {
  background-color: transparent;
  flex-shrink: 1;
  height: 30px;
  letter-spacing: 0.00px;
  line-height: 30px;
  margin-top: 17px;
  min-height: 30px;
  min-width: 169px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x9-my-account-update-account .purchase-history-HwoSGg {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: 30px;
  letter-spacing: 0.00px;
  line-height: 30px;
  margin-top: 17px;
  min-height: 30px;
  min-width: 169px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x9-my-account-update-account .admin-panel-HwoSGg {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: 30px;
  letter-spacing: 0.00px;
  line-height: 30px;
  margin-top: 17px;
  min-height: 30px;
  min-width: 128px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x9-my-account-update-account .logout-Bx4Eys {
  background-color: transparent;
  flex-shrink: 1;
  height: 30px;
  letter-spacing: 0.00px;
  line-height: 30px;
  margin-top: 50px;
  min-height: 30px;
  min-width: 70px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x9-my-account-update-account .line-14-tYntLz {
  background-color: transparent;
  flex-shrink: 1;
  height: 973px;
  margin-left: 49px;
  margin-top: -0.5px;
  position: relative;
  width: 1px;
}

.x9-my-account-update-account .frame-151-cGymDZ {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 93px;
  min-height: 980px;
  position: relative;
  width: 709px;
}

.x9-my-account-update-account .frame-150-bjEbu1 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 304px;
  position: relative;
  width: 709px;
}

.x9-my-account-update-account .frame-149-qKAjk7 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 78px;
  justify-content: flex-start;
  min-width: 403px;
  position: relative;
  width: auto;
}

.x9-my-account-update-account .essentials-user-circle-xvUcmX {
  background-color: transparent;
  flex-shrink: 1;
  height: 78px;
  margin-top: -0.25px;
  position: relative;
  width: 78px;
}

.x9-my-account-update-account .enabled-true-ic-con-right-false-xvUcmX {
  align-items: center;
  background-color: var(--white);
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 48px;
  justify-content: flex-end;
  margin-left: 127px;
  min-width: 198px;
  mix-blend-mode: normal;
  padding: 0 13px;
  position: relative;
  width: auto;
}

.x9-my-account-update-account .label-i230266909276-lijzYH {
  background-color: transparent;
  flex-shrink: 1;
  height: 28px;
  letter-spacing: 0.00px;
  line-height: 28px;
  min-height: 28px;
  min-width: 170px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.x9-my-account-update-account .frame-146-qKAjk7 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 38px;
  min-height: 188px;
  position: relative;
  width: 709px;
}

.x9-my-account-update-account .frame-140-elGx36 {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 50px;
  justify-content: flex-start;
  min-width: 705px;
  position: relative;
  width: auto;
}

.x9-my-account-update-account .text-LWpYL6 {
  background-color: transparent;
  flex-shrink: 1;
  height: 28px;
  letter-spacing: 0.00px;
  line-height: 28px;
  min-height: 28px;
  min-width: 93px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 93px;
}

.x9-my-account-update-account .enabled-true-label-false-LWpYL6 {
  align-items: center;
  background-color: transparent;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 50px;
  justify-content: flex-end;
  margin-left: 108px;
  min-width: 504px;
  padding: 0 16px;
  position: relative;
  width: auto;
}

.x9-my-account-update-account .text-i230266949257-60wdUd {
  background-color: transparent;
  flex-shrink: 1;
  height: 28px;
  letter-spacing: 0.00px;
  line-height: 28px;
  min-height: 28px;
  min-width: 450px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 450px;
}

.x9-my-account-update-account .icon-i230266949256-60wdUd {
  background-color: transparent;
  flex-shrink: 1;
  height: 18px;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 6px;
  min-height: 18px;
  min-width: 12px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x9-my-account-update-account .text-input-elGx36 {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 50px;
  justify-content: flex-start;
  margin-top: 19px;
  min-width: 709px;
  position: relative;
  width: auto;
}

.x9-my-account-update-account .text-A73wMx {
  background-color: transparent;
  flex-shrink: 1;
  height: 28px;
  letter-spacing: 0.00px;
  line-height: 28px;
  min-height: 28px;
  min-width: 102px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 102px;
}

.x9-my-account-update-account .enabled-true-label-false-A73wMx {
  align-items: center;
  background-color: transparent;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 50px;
  justify-content: flex-end;
  margin-left: 103px;
  min-width: 504px;
  padding: 0 18px;
  position: relative;
  width: auto;
}

.x9-my-account-update-account .text-i23026697924-nL6l5P {
  background-color: transparent;
  flex-shrink: 1;
  height: 28px;
  letter-spacing: 0.00px;
  line-height: 28px;
  min-height: 28px;
  min-width: 466px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 466px;
}

.x9-my-account-update-account .text-input-syoZPW {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 50px;
  justify-content: flex-start;
  margin-top: 19px;
  min-width: 705px;
  position: relative;
  width: auto;
}

.x9-my-account-update-account .text-GVdCWi {
  background-color: transparent;
  flex-shrink: 1;
  height: 28px;
  letter-spacing: 0.00px;
  line-height: 28px;
  min-height: 28px;
  min-width: 100px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 100px;
}

.x9-my-account-update-account .frame-145-GVdCWi {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 50px;
  justify-content: flex-start;
  margin-left: 103px;
  min-width: 488px;
  position: relative;
  width: auto;
}

.x9-my-account-update-account .enabled-true-label-false-hnJOxE {
  align-items: center;
  background-color: transparent;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 50px;
  justify-content: flex-end;
  min-width: 312px;
  padding: 0 18px;
  position: relative;
  width: auto;
}

.x9-my-account-update-account .text-i23026701924-Xa5zV2 {
  background-color: transparent;
  flex-shrink: 1;
  height: 28px;
  letter-spacing: 0.00px;
  line-height: 28px;
  min-height: 28px;
  min-width: 274px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 274px;
}

.x9-my-account-update-account .text-hnJOxE {
  background-color: transparent;
  color: var(--gray);
  cursor: pointer;
  flex-shrink: 1;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
  height: 28px;
  letter-spacing: 0.00px;
  line-height: 28px;
  margin-left: 10px;
  min-height: 28px;
  min-width: 168px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  width: auto;
}

.x9-my-account-update-account .frame-148-bjEbu1 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 70px;
  min-height: 488px;
  position: relative;
  width: 709px;
}

.x9-my-account-update-account .text-input-ElUkWy {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 50px;
  justify-content: flex-start;
  min-width: 709px;
  position: relative;
  width: auto;
}

.x9-my-account-update-account .text-maML2M {
  background-color: transparent;
  flex-shrink: 1;
  height: 28px;
  letter-spacing: 0.00px;
  line-height: 28px;
  min-height: 28px;
  min-width: 102px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x9-my-account-update-account .enabled-true-label-false-maML2M {
  align-items: center;
  background-color: transparent;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 50px;
  justify-content: flex-end;
  margin-left: 103px;
  min-width: 504px;
  padding: 0 18px;
  position: relative;
  width: auto;
}

.x9-my-account-update-account .text-i23026706924-Lcxu60 {
  background-color: transparent;
  flex-shrink: 1;
  height: 28px;
  letter-spacing: 0.00px;
  line-height: 28px;
  min-height: 28px;
  min-width: 466px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 466px;
}

.x9-my-account-update-account .text-input-O3rq6d {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 50px;
  justify-content: flex-start;
  margin-top: 26px;
  min-width: 703px;
  position: relative;
  width: auto;
}

.x9-my-account-update-account .text-nOtiA0 {
  background-color: transparent;
  flex-shrink: 1;
  height: 28px;
  letter-spacing: 0.00px;
  line-height: 28px;
  min-height: 28px;
  min-width: 100px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 100px;
}

.x9-my-account-update-account .enabled-true-label-false-nOtiA0 {
  align-items: center;
  background-color: transparent;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 50px;
  justify-content: flex-end;
  margin-left: 103px;
  min-width: 504px;
  padding: 0 18px;
  position: relative;
  width: auto;
}

.x9-my-account-update-account .text-i23026709924-msfQD4 {
  background-color: transparent;
  flex-shrink: 1;
  height: 28px;
  letter-spacing: 0.00px;
  line-height: 28px;
  min-height: 28px;
  min-width: 466px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 466px;
}

.x9-my-account-update-account .text-input-U4CVJf {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 50px;
  justify-content: flex-start;
  margin-top: 26px;
  min-width: 703px;
  position: relative;
  width: auto;
}

.x9-my-account-update-account .text-AXjpXN {
  background-color: transparent;
  flex-shrink: 1;
  height: 28px;
  letter-spacing: 0.00px;
  line-height: 28px;
  min-height: 28px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 144px;
}

.x9-my-account-update-account .enabled-true-label-false-AXjpXN {
  align-items: center;
  background-color: transparent;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 50px;
  justify-content: flex-end;
  margin-left: 58px;
  min-width: 504px;
  padding: 0 18px;
  position: relative;
  width: auto;
}

.x9-my-account-update-account .text-i23026712924-Tnd6ds {
  background-color: transparent;
  flex-shrink: 1;
  height: 28px;
  letter-spacing: 0.00px;
  line-height: 28px;
  min-height: 28px;
  min-width: 466px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 466px;
}

.x9-my-account-update-account .frame-144-ElUkWy {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 184px;
  justify-content: flex-start;
  margin-top: 26px;
  min-width: 704px;
  position: relative;
  width: auto;
}

.x9-my-account-update-account .text-d4wWsr {
  background-color: transparent;
  flex-shrink: 1;
  height: 28px;
  letter-spacing: 0.00px;
  line-height: 28px;
  min-height: 28px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 144px;
}

.x9-my-account-update-account .frame-143-d4wWsr {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 58px;
  min-height: 184px;
  position: relative;
  width: 502px;
}

.x9-my-account-update-account .enabled-true-label-true-OukLPr {
  align-items: flex-start;
  background-color: transparent;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 50px;
  padding: 0 18px;
  position: relative;
  width: 504px;
}

.x9-my-account-update-account .frame-4-jFawDx {
  align-items: flex-start;
  background-color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 21px;
  justify-content: flex-start;
  margin-left: 2px;
  margin-top: -10px;
  min-width: 44px;
  mix-blend-mode: normal;
  position: relative;
  width: auto;
}

.x9-my-account-update-account .label-i230267169285-e12zeH {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 21px;
  min-height: 21px;
  min-width: 46px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x9-my-account-update-account .text-i230267169286-jFawDx {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: 28px;
  letter-spacing: 0.00px;
  line-height: 28px;
  margin-top: 0px;
  min-height: 28px;
  min-width: 466px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 466px;
}

.x9-my-account-update-account .frame-142-OukLPr {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 50px;
  justify-content: flex-start;
  margin-top: 17px;
  min-width: 504px;
  position: relative;
  width: auto;
}

.x9-my-account-update-account .enabled-true-label-true-JlMGc7 {
  align-items: flex-start;
  background-color: transparent;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 50px;
  padding: 0 18px;
  position: relative;
  width: 215px;
}

.x9-my-account-update-account .frame-4-YWyvj5 {
  align-items: flex-start;
  background-color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 21px;
  justify-content: flex-start;
  margin-left: 2px;
  margin-top: -10px;
  min-width: 30px;
  mix-blend-mode: normal;
  position: relative;
  width: auto;
}

.x9-my-account-update-account .label-i230267189285-7xlKjY {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 21px;
  min-height: 21px;
  min-width: 32px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x9-my-account-update-account .text-i230267189286-YWyvj5 {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: 28px;
  letter-spacing: 0.00px;
  line-height: 28px;
  margin-top: 0px;
  min-height: 28px;
  min-width: 177px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 177px;
}

.x9-my-account-update-account .enabled-true-label-true-x1bOdy {
  align-items: flex-start;
  background-color: transparent;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 22px;
  min-height: 50px;
  padding: 0 18px;
  position: relative;
  width: 267px;
}

.x9-my-account-update-account .frame-4-3u7Auf {
  align-items: flex-start;
  background-color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 21px;
  justify-content: flex-start;
  margin-left: 2px;
  margin-top: -10px;
  min-width: 39px;
  mix-blend-mode: normal;
  position: relative;
  width: auto;
}

.x9-my-account-update-account .label-i230267199285-nMsmeE {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 21px;
  min-height: 21px;
  min-width: 41px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x9-my-account-update-account .text-i230267199286-3u7Auf {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: 28px;
  letter-spacing: 0.00px;
  line-height: 28px;
  margin-top: 0px;
  min-height: 28px;
  min-width: 229px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 229px;
}

.x9-my-account-update-account .frame-141-OukLPr {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 50px;
  justify-content: flex-start;
  margin-top: 17px;
  min-width: 504px;
  position: relative;
  width: auto;
}

.x9-my-account-update-account .enabled-true-label-true-nr1j5F {
  align-items: flex-start;
  background-color: transparent;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 50px;
  padding: 0 16px;
  position: relative;
  width: 215px;
}

.x9-my-account-update-account .frame-4-dBC6NE {
  align-items: flex-start;
  background-color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 21px;
  justify-content: flex-start;
  margin-left: 4px;
  margin-top: -10px;
  min-width: 59px;
  mix-blend-mode: normal;
  position: relative;
  width: auto;
}

.x9-my-account-update-account .label-i230267219299-Bhhcp9 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 21px;
  min-height: 21px;
  min-width: 61px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x9-my-account-update-account .flex-row-dBC6NE {
  align-items: center;
  align-self: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 28px;
  justify-content: flex-start;
  margin-top: 0px;
  min-width: 179px;
  position: relative;
  width: auto;
}

.x9-my-account-update-account .text-i230267219297-GKpXEP {
  background-color: transparent;
  flex-shrink: 1;
  height: 28px;
  letter-spacing: 0.00px;
  line-height: 28px;
  min-height: 28px;
  min-width: 161px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 161px;
}

.x9-my-account-update-account .icon-i230267219296-GKpXEP {
  background-color: transparent;
  flex-shrink: 1;
  height: 18px;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 6px;
  min-height: 18px;
  min-width: 12px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x9-my-account-update-account .enabled-true-label-true-1nAP3K {
  align-items: flex-start;
  background-color: transparent;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 22px;
  min-height: 50px;
  padding: 0 18px;
  position: relative;
  width: 267px;
}

.x9-my-account-update-account .frame-4-VWBx7E {
  align-items: flex-start;
  background-color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 21px;
  justify-content: flex-start;
  margin-left: 2px;
  margin-top: -10px;
  min-width: 86px;
  mix-blend-mode: normal;
  position: relative;
  width: auto;
}

.x9-my-account-update-account .label-i230267229285-0GQJxo {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 21px;
  min-height: 21px;
  min-width: 88px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x9-my-account-update-account .text-i230267229286-VWBx7E {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: 28px;
  letter-spacing: 0.00px;
  line-height: 28px;
  margin-top: 0px;
  min-height: 28px;
  min-width: 229px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 229px;
}

.x9-my-account-update-account .frame-139-ElUkWy {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 50px;
  justify-content: flex-start;
  margin-top: 26px;
  min-width: 707px;
  position: relative;
  width: auto;
}

.x9-my-account-update-account .text-6rAdUY {
  background-color: transparent;
  flex-shrink: 1;
  height: 28px;
  letter-spacing: 0.00px;
  line-height: 28px;
  min-height: 28px;
  min-width: 165px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x9-my-account-update-account .enabled-true-label-false-6rAdUY {
  align-items: center;
  background-color: transparent;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 50px;
  justify-content: flex-end;
  margin-left: 38px;
  min-width: 504px;
  padding: 0 16px;
  position: relative;
  width: auto;
}

.x9-my-account-update-account .text-i230267259257-tzO400 {
  background-color: transparent;
  flex-shrink: 1;
  height: 28px;
  letter-spacing: 0.00px;
  line-height: 28px;
  min-height: 28px;
  min-width: 450px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 450px;
}

.x9-my-account-update-account .icon-i230267259256-tzO400 {
  background-color: transparent;
  flex-shrink: 1;
  height: 18px;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 6px;
  min-height: 18px;
  min-width: 12px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x9-my-account-update-account .frame-147-bjEbu1 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 48px;
  justify-content: flex-start;
  margin-top: 70px;
  min-width: 271px;
  position: relative;
  width: auto;
}

.x9-my-account-update-account .enabled-true-ic-con-right-false-3VcHxg {
  align-items: center;
  background-color: var(--white);
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 48px;
  justify-content: flex-end;
  min-width: 96px;
  mix-blend-mode: normal;
  padding: 0 13px;
  position: relative;
  width: auto;
}

.x9-my-account-update-account .label-i2302672792115-rfviuf {
  background-color: transparent;
  flex-shrink: 1;
  height: 28px;
  letter-spacing: 0.00px;
  line-height: 28px;
  min-height: 28px;
  min-width: 68px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.x9-my-account-update-account .enabled-true-ic-con-right-false-9oZe1Z {
  align-items: center;
  background-color: var(--isko-raven);
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 48px;
  justify-content: flex-end;
  margin-left: 16px;
  min-width: 159px;
  mix-blend-mode: normal;
  padding: 0 11px;
  position: relative;
  width: auto;
}

.x9-my-account-update-account .label-i2302672892110-Bmzwkg {
  background-color: transparent;
  flex-shrink: 1;
  height: 28px;
  letter-spacing: 0.00px;
  line-height: 28px;
  min-height: 28px;
  min-width: 135px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
