/* screen - before-purchase-clo-no-video */

.before-purchase-clo-no-video {
  background-color: var(--white);
  height: 1678px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 425px;
}

.before-purchase-clo-no-video .frame-303-oIDn6c {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: -6px;
  min-height: 1567px;
  position: absolute;
  top: 21px;
  width: 438px;
}

.before-purchase-clo-no-video .frame-255-6yKUXC {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 37px;
  justify-content: flex-start;
  min-width: 383px;
  position: relative;
  width: auto;
}

.before-purchase-clo-no-video .frame-254-X3axN0 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 37px;
  justify-content: flex-start;
  min-width: 63px;
  position: relative;
  width: auto;
}

.before-purchase-clo-no-video .textlabel-ubhoiH {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 28px;
  letter-spacing: 0.00px;
  line-height: 28px;
  min-height: 28px;
  min-width: 30px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.before-purchase-clo-no-video .logo-ubhoiH {
  background-color: transparent;
  flex-shrink: 1;
  height: 37px;
  margin-left: 7px;
  margin-top: -0.1px;
  mix-blend-mode: normal;
  position: relative;
  width: 26px;
}

.before-purchase-clo-no-video .frame-89-X3axN0 {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 35px;
  justify-content: flex-start;
  margin-left: 190px;
  min-width: 130px;
  position: relative;
  width: auto;
}

.before-purchase-clo-no-video .frame-90-tzXBf1 {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 35px;
  justify-content: flex-start;
  min-width: 97px;
  position: relative;
  width: auto;
}

.before-purchase-clo-no-video .dropdown-item-TqXjOY {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 35px;
  justify-content: flex-end;
  min-width: 73px;
  mix-blend-mode: normal;
  position: relative;
  width: auto;
}

.before-purchase-clo-no-video .label-bPQW4E {
  background-color: transparent;
  flex-shrink: 1;
  height: 22px;
  letter-spacing: 0.00px;
  line-height: 22.1px;
  min-height: 22px;
  min-width: 75px;
  mix-blend-mode: normal;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: 75px;
}

.before-purchase-clo-no-video .money-1-TqXjOY {
  background-color: transparent;
  flex-shrink: 1;
  height: 20px;
  margin-left: 5px;
  mix-blend-mode: normal;
  position: relative;
  width: 20px;
}

.before-purchase-clo-no-video .shopping-bag-2-tzXBf1 {
  background-color: transparent;
  flex-shrink: 1;
  height: 24px;
  margin-left: 9px;
  mix-blend-mode: normal;
  position: relative;
  width: 23px;
}

.before-purchase-clo-no-video .frame-209-6yKUXC {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 27px;
  min-height: 1502px;
  position: relative;
  width: 438px;
}

.before-purchase-clo-no-video .frame-218-pyLVlT {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 650px;
  position: relative;
  width: 438px;
}

.before-purchase-clo-no-video .frame-203-tT1SEv {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 69px;
  justify-content: flex-start;
  min-width: 438px;
  position: relative;
  width: auto;
}

.before-purchase-clo-no-video .group-114-fZ8CAR {
  background-color: transparent;
  flex-shrink: 1;
  height: 69px;
  position: relative;
  width: 444px;
}

.before-purchase-clo-no-video .rectangle-132-uBDrWc {
  background-color: var(--white);
  height: 69px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 438px;
}

.before-purchase-clo-no-video .overview-uBDrWc {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 18px;
  width: 83px;
}

.before-purchase-clo-no-video .my-notes-uBDrWc {
  background-color: transparent;
  height: auto;
  left: 155px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 18px;
  width: 81px;
}

.before-purchase-clo-no-video .activities-uBDrWc {
  background-color: transparent;
  height: auto;
  left: 286px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 19px;
  width: 82px;
}

.before-purchase-clo-no-video .rectangle-133-uBDrWc {
  background-color: var(--isko-raven);
  height: 7px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 61px;
  width: 120px;
}

.before-purchase-clo-no-video .frame-202-tT1SEv {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 562px;
  justify-content: flex-start;
  margin-top: 20px;
  min-width: 390px;
  position: relative;
  width: auto;
}

.before-purchase-clo-no-video .frame-202-Er3MxJ {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 562px;
  position: relative;
  width: 390px;
}

.before-purchase-clo-no-video .frame-201-eugwIE {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 127px;
  position: relative;
  width: 383px;
}

.before-purchase-clo-no-video .frame-196-7EGDyd {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 102px;
  position: relative;
  width: 383px;
}

.before-purchase-clo-no-video .understanding-t-of-course-title-My9eqI {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 38px;
  min-width: 375px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 375px;
}

.before-purchase-clo-no-video .frame-195-My9eqI {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 23px;
  justify-content: flex-start;
  margin-top: 41px;
  min-width: 383px;
  position: relative;
  width: auto;
}

.before-purchase-clo-no-video .charlene-tormes-fQb6J3 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 23px;
  min-width: 133px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.before-purchase-clo-no-video .frame-8-fQb6J3 {
  background-color: transparent;
  flex-shrink: 1;
  height: 24px;
  margin-left: 135px;
  margin-top: -0.25px;
  position: relative;
  width: 115px;
}

.before-purchase-clo-no-video .frame-194-7EGDyd {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 20px;
  justify-content: flex-start;
  margin-top: 5px;
  min-width: 209px;
  position: relative;
  width: auto;
}

.before-purchase-clo-no-video .frame-192-DAGj0q {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 20px;
  justify-content: flex-end;
  min-width: 64px;
  position: relative;
  width: auto;
}

.before-purchase-clo-no-video .vector-DBON6a {
  background-color: transparent;
  flex-shrink: 1;
  height: 12px;
  mix-blend-mode: normal;
  position: relative;
  width: 12px;
}

.before-purchase-clo-no-video .x1h-34m-DBON6a {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 4px;
  min-height: 20px;
  min-width: 49px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.before-purchase-clo-no-video .frame-193-DAGj0q {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 20px;
  justify-content: flex-end;
  margin-left: 27px;
  min-width: 118px;
  position: relative;
  width: auto;
}

.before-purchase-clo-no-video .user-1-1-eDpDSN {
  background-color: transparent;
  flex-shrink: 1;
  height: 12px;
  mix-blend-mode: normal;
  position: relative;
  width: 12px;
}

.before-purchase-clo-no-video .x753-downloads-eDpDSN {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 4px;
  min-height: 20px;
  min-width: 103px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.before-purchase-clo-no-video .frame-200-eugwIE {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 37px;
  min-height: 398px;
  position: relative;
  width: 390px;
}

.before-purchase-clo-no-video .lorem-ipsum-is-ially-unchanged-uOAdF4 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 164px;
  min-width: 392px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 392px;
}

.before-purchase-clo-no-video .objectives-uOAdF4 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 26px;
  min-height: 31px;
  min-width: 94px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 94px;
}

.before-purchase-clo-no-video .lorem-ipsum-is-of-the-printing-uOAdF4 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 26px;
  min-height: 151px;
  min-width: 392px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 392px;
}

.before-purchase-clo-no-video .frame-199-pyLVlT {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 50px;
  min-height: 305px;
  position: relative;
  width: 390px;
}

.before-purchase-clo-no-video .line-13-AExBbi {
  background-color: transparent;
  flex-shrink: 1;
  height: 2px;
  margin-top: 0px;
  position: relative;
  width: 383px;
}

.before-purchase-clo-no-video .frame-205-AExBbi {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 26px;
  justify-content: flex-start;
  margin-top: 30px;
  min-width: 134px;
  position: relative;
  width: auto;
}

.before-purchase-clo-no-video .x3-lessons-1h-34m-kKk3lS {
  background-color: transparent;
  color: var(--black);
  flex-shrink: 1;
  font-family: var(--font-family-hind);
  font-size: 16.5px;
  font-style: normal;
  font-weight: 600;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 26px;
  min-width: 136px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.before-purchase-clo-no-video .frame-206-AExBbi {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 30px;
  min-height: 217px;
  position: relative;
  width: 383px;
}

.x24054729 {
  background-color: transparent;
  flex-shrink: 1;
  height: 66px;
  opacity: 1;
  position: relative;
  width: 383px;
}

.x24054729 .rectangle-134-CuqOoU {
  background-color: #2f115f;
  height: 66px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 383px;
}

.x24054729 .group-55-CuqOoU {
  background-color: transparent;
  height: 38px;
  left: 41px;
  opacity: 1;
  position: absolute;
  top: 14px;
  width: 102px;
}

.x24054729 .lesson-number-1-240547291503197-zH0RrJ {
  background-color: transparent;
  color: #f4f2f8;
  font-family: 'Hind', Helvetica;
  font-size: 13.7px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 100px;
}

.x24054729 .x1123-i240547291503198-zH0RrJ {
  background-color: transparent;
  color: #f4f2f8;
  font-family: 'Hind', Helvetica;
  font-size: 11.8px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 19px;
  width: 24px;
}

.x24054729 .play-button-1-1-CuqOoU {
  background-color: transparent;
  height: 17px;
  left: 11px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 14px;
  width: 17px;
}

.x24054730 {
  background-color: transparent;
  flex-shrink: 1;
  height: 66px;
  margin-top: 10px;
  opacity: 1;
  position: relative;
  width: 383px;
}

.x24054730 .rectangle-134-bAaD7Y {
  background-color: #f2f2f2;
  height: 66px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 383px;
}

.x24054730 .group-55-bAaD7Y {
  background-color: transparent;
  height: 38px;
  left: 41px;
  opacity: 1;
  position: absolute;
  top: 14px;
  width: 105px;
}

.x24054730 .lesson-number-1-240547301503270-O5SF6w {
  background-color: transparent;
  color: #828282;
  font-family: 'Hind', Helvetica;
  font-size: 13.7px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.x24054730 .x1123-i240547301503271-O5SF6w {
  background-color: transparent;
  color: #828282;
  font-family: 'Hind', Helvetica;
  font-size: 11.8px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 19px;
  width: 24px;
}

.x24054730 .vector-bAaD7Y {
  background-color: transparent;
  height: 12px;
  left: 16px;
  opacity: 1;
  position: absolute;
  top: 18px;
  width: 10px;
}

.x24054731 {
  background-color: transparent;
  flex-shrink: 1;
  height: 66px;
  margin-top: 10px;
  opacity: 1;
  position: relative;
  width: 383px;
}

.x24054731 .rectangle-134-xpnjxv {
  background-color: #f2f2f2;
  height: 66px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 383px;
}

.x24054731 .group-55-xpnjxv {
  background-color: transparent;
  height: 38px;
  left: 41px;
  opacity: 1;
  position: absolute;
  top: 14px;
  width: 105px;
}

.x24054731 .lesson-number-1-240547311503270-sHzCmC {
  background-color: transparent;
  color: #828282;
  font-family: 'Hind', Helvetica;
  font-size: 13.7px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.x24054731 .x1123-i240547311503271-sHzCmC {
  background-color: transparent;
  color: #828282;
  font-family: 'Hind', Helvetica;
  font-size: 11.8px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 19px;
  width: 24px;
}

.x24054731 .vector-xpnjxv {
  background-color: transparent;
  height: 12px;
  left: 16px;
  opacity: 1;
  position: absolute;
  top: 18px;
  width: 10px;
}

.before-purchase-clo-no-video .frame-204-pyLVlT {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 50px;
  min-height: 447px;
  position: relative;
  width: 389px;
}

.before-purchase-clo-no-video .line-13-A3lBGf {
  background-color: transparent;
  flex-shrink: 1;
  height: 2px;
  margin-top: 0px;
  position: relative;
  width: 383px;
}

.before-purchase-clo-no-video .frame-198-A3lBGf {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 30px;
  min-height: 416px;
  position: relative;
  width: 389px;
}

.before-purchase-clo-no-video .courses-you-might-like-OJs4vu {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 27.3px;
  min-height: 27px;
  min-width: 265px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.before-purchase-clo-no-video .frame-197-OJs4vu {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 29px;
  min-height: 360px;
  position: relative;
  width: 389px;
}

.before-purchase-clo-no-video .hv-false-RGJBUE {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 4.23px;
  box-shadow: 0px 4px 50px #0000000d;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 173px;
  justify-content: flex-start;
  mix-blend-mode: normal;
  overflow: hidden;
  padding: 16.9px 16.9px;
  position: relative;
  width: 389px;
}

.before-purchase-clo-no-video .image-placeholder-2lkd0g {
  background-color: var(--alabaster-2);
  border-radius: 4.23px;
  flex-shrink: 1;
  height: 140px;
  margin-left: 0px;
  mix-blend-mode: normal;
  position: relative;
  width: 140px;
}

.before-purchase-clo-no-video .icon-i240547371501264-qP7Lxc {
  background-color: transparent;
  height: 35px;
  left: 57px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 52px;
  width: 28px;
}

.before-purchase-clo-no-video .image-54-qP7Lxc {
  background-color: transparent;
  height: 140px;
  left: -0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: -0px;
  width: 140px;
}

.before-purchase-clo-no-video .frame-9-qP7Lxc {
  align-items: flex-end;
  background-color: var(--ocean-green-pearl);
  border-radius: 5.44px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 16px;
  justify-content: flex-end;
  left: 88px;
  min-width: 45px;
  mix-blend-mode: normal;
  padding: 0.9px 2.2px;
  position: absolute;
  top: 8px;
  width: auto;
}

.before-purchase-clo-no-video .php-1500-i240547371501397-EGzS7n {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 14px;
  min-width: 39px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 39px;
}

.before-purchase-clo-no-video .text-block-heading-4-2lkd0g {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 16px;
  min-height: 140px;
  position: relative;
  width: 199px;
}

.before-purchase-clo-no-video .frame-189-ISwfQw {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 61px;
  position: relative;
  width: 199px;
}

.before-purchase-clo-no-video .frame-188-AqK6xH {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 44px;
  position: relative;
  width: 199px;
}

.before-purchase-clo-no-video .title-i240547371501245-eGeAmP {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 32px;
  min-width: 201px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 201px;
}

.before-purchase-clo-no-video .x10-videos-i240547371501297-eGeAmP {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 0px;
  min-height: 12px;
  min-width: 38px;
  mix-blend-mode: normal;
  position: relative;
  text-align: right;
  width: auto;
}

.before-purchase-clo-no-video .frame-8-AqK6xH {
  background-color: transparent;
  flex-shrink: 1;
  height: 13px;
  margin-left: -0.29px;
  margin-top: 4px;
  position: relative;
  width: 64px;
}

.before-purchase-clo-no-video .text-i240547371501246-ISwfQw {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 15.2px;
  margin-top: 8px;
  min-height: 45px;
  min-width: 201px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 201px;
}

.before-purchase-clo-no-video .frame-73-ISwfQw {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 24px;
  justify-content: flex-start;
  margin-top: 8px;
  min-width: 114px;
  position: relative;
  width: auto;
}

.before-purchase-clo-no-video .button-tertiary-KmGdWp {
  align-items: center;
  background-color: var(--white);
  border-radius: 3.38px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 24px;
  justify-content: flex-start;
  min-width: 114px;
  mix-blend-mode: normal;
  position: relative;
  width: auto;
}

.before-purchase-clo-no-video .label-i240547371501254-lxIunw {
  background-color: transparent;
  flex-shrink: 1;
  height: 24px;
  letter-spacing: 0.00px;
  line-height: 23.7px;
  min-height: 24px;
  min-width: 89px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.before-purchase-clo-no-video .icon-i240547371501255-lxIunw {
  background-color: transparent;
  flex-shrink: 1;
  height: 20px;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 4px;
  min-height: 20px;
  min-width: 22px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: 22px;
}

.before-purchase-clo-no-video .hv-false-B2wWZx {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 4.23px;
  box-shadow: 0px 4px 50px #0000000d;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 173px;
  justify-content: flex-start;
  margin-top: 13px;
  mix-blend-mode: normal;
  overflow: hidden;
  padding: 16.9px 16.9px;
  position: relative;
  width: 389px;
}

.before-purchase-clo-no-video .image-placeholder-PCgQHD {
  background-color: var(--alabaster-2);
  border-radius: 4.23px;
  flex-shrink: 1;
  height: 140px;
  margin-left: 0px;
  mix-blend-mode: normal;
  position: relative;
  width: 140px;
}

.before-purchase-clo-no-video .icon-i240547381501264-5xqnHg {
  background-color: transparent;
  height: 35px;
  left: 57px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 52px;
  width: 28px;
}

.before-purchase-clo-no-video .image-54-5xqnHg {
  background-color: transparent;
  height: 140px;
  left: -0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: -0px;
  width: 140px;
}

.before-purchase-clo-no-video .frame-9-5xqnHg {
  align-items: flex-end;
  background-color: var(--ocean-green-pearl);
  border-radius: 5.44px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 16px;
  justify-content: flex-end;
  left: 88px;
  min-width: 45px;
  mix-blend-mode: normal;
  padding: 0.9px 2.2px;
  position: absolute;
  top: 8px;
  width: auto;
}

.before-purchase-clo-no-video .php-1500-i240547381501397-XAPexN {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 14px;
  min-width: 39px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 39px;
}

.before-purchase-clo-no-video .text-block-heading-4-PCgQHD {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 16px;
  min-height: 140px;
  position: relative;
  width: 199px;
}

.before-purchase-clo-no-video .frame-189-qhrJqy {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 61px;
  position: relative;
  width: 199px;
}

.before-purchase-clo-no-video .frame-188-8XLRsC {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 44px;
  position: relative;
  width: 199px;
}

.before-purchase-clo-no-video .title-i240547381501245-U8Oxhj {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 32px;
  min-width: 201px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 201px;
}

.before-purchase-clo-no-video .x10-videos-i240547381501297-U8Oxhj {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 0px;
  min-height: 12px;
  min-width: 38px;
  mix-blend-mode: normal;
  position: relative;
  text-align: right;
  width: auto;
}

.before-purchase-clo-no-video .frame-8-8XLRsC {
  background-color: transparent;
  flex-shrink: 1;
  height: 14px;
  margin-left: -0.29px;
  margin-top: 3px;
  position: relative;
  width: 64px;
}

.before-purchase-clo-no-video .text-i240547381501246-qhrJqy {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 15.2px;
  margin-top: 8px;
  min-height: 45px;
  min-width: 201px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 201px;
}

.before-purchase-clo-no-video .frame-73-qhrJqy {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 24px;
  justify-content: flex-start;
  margin-top: 8px;
  min-width: 114px;
  position: relative;
  width: auto;
}

.before-purchase-clo-no-video .button-tertiary-QcJS3n {
  align-items: center;
  background-color: var(--white);
  border-radius: 3.38px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 24px;
  justify-content: flex-start;
  min-width: 114px;
  mix-blend-mode: normal;
  position: relative;
  width: auto;
}

.before-purchase-clo-no-video .label-i240547381501254-eriF6c {
  background-color: transparent;
  flex-shrink: 1;
  height: 24px;
  letter-spacing: 0.00px;
  line-height: 23.7px;
  min-height: 24px;
  min-width: 89px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.before-purchase-clo-no-video .icon-i240547381501255-eriF6c {
  background-color: transparent;
  flex-shrink: 1;
  height: 20px;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 4px;
  min-height: 20px;
  min-width: 22px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: 22px;
}

.before-purchase-clo-no-video .add-to-cart-button-oIDn6c {
  align-items: center;
  background-color: var(--ocean-green-pearl);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 66px;
  justify-content: flex-start;
  left: 0px;
  min-width: 425px;
  mix-blend-mode: normal;
  padding: 0 44px;
  position: absolute;
  top: 723px;
  width: auto;
}

.before-purchase-clo-no-video .frame-207-aenoxS {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 34px;
  justify-content: flex-start;
  margin-left: 0px;
  min-width: 337px;
  position: relative;
  width: auto;
}

.before-purchase-clo-no-video .add-WpI5av {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 34px;
  min-width: 156px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.before-purchase-clo-no-video .p1500-WpI5av {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 112px;
  min-height: 34px;
  min-width: 71px;
  mix-blend-mode: normal;
  position: relative;
  text-align: right;
  width: auto;
}
/* component - 240_54729 */

.x24054729 .rectangle-134-CuqOoU {
  background-color: #2f115f;
  height: 66px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 383px;
}

.x24054729 .group-55-CuqOoU {
  background-color: transparent;
  height: 38px;
  left: 41px;
  opacity: 1;
  position: absolute;
  top: 14px;
  width: 102px;
}

.x24054729 .lesson-number-1-240547291503197-zH0RrJ {
  background-color: transparent;
  color: #f4f2f8;
  font-family: 'Hind', Helvetica;
  font-size: 13.7px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 100px;
}

.x24054729 .x1123-i240547291503198-zH0RrJ {
  background-color: transparent;
  color: #f4f2f8;
  font-family: 'Hind', Helvetica;
  font-size: 11.8px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 19px;
  width: 24px;
}

.x24054729 .play-button-1-1-CuqOoU {
  background-color: transparent;
  height: 17px;
  left: 11px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 14px;
  width: 17px;
}
/* component - 240_54730 */

.x24054730 .rectangle-134-bAaD7Y {
  background-color: #f2f2f2;
  height: 66px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 383px;
}

.x24054730 .group-55-bAaD7Y {
  background-color: transparent;
  height: 38px;
  left: 41px;
  opacity: 1;
  position: absolute;
  top: 14px;
  width: 105px;
}

.x24054730 .lesson-number-1-240547301503270-O5SF6w {
  background-color: transparent;
  color: #828282;
  font-family: 'Hind', Helvetica;
  font-size: 13.7px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.x24054730 .x1123-i240547301503271-O5SF6w {
  background-color: transparent;
  color: #828282;
  font-family: 'Hind', Helvetica;
  font-size: 11.8px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 19px;
  width: 24px;
}

.x24054730 .vector-bAaD7Y {
  background-color: transparent;
  height: 12px;
  left: 16px;
  opacity: 1;
  position: absolute;
  top: 18px;
  width: 10px;
}
/* component - 240_54731 */

.x24054731 .rectangle-134-xpnjxv {
  background-color: #f2f2f2;
  height: 66px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 383px;
}

.x24054731 .group-55-xpnjxv {
  background-color: transparent;
  height: 38px;
  left: 41px;
  opacity: 1;
  position: absolute;
  top: 14px;
  width: 105px;
}

.x24054731 .lesson-number-1-240547311503270-sHzCmC {
  background-color: transparent;
  color: #828282;
  font-family: 'Hind', Helvetica;
  font-size: 13.7px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.x24054731 .x1123-i240547311503271-sHzCmC {
  background-color: transparent;
  color: #828282;
  font-family: 'Hind', Helvetica;
  font-size: 11.8px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 19px;
  width: 24px;
}

.x24054731 .vector-xpnjxv {
  background-color: transparent;
  height: 12px;
  left: 16px;
  opacity: 1;
  position: absolute;
  top: 18px;
  width: 10px;
}
