/* screen - before-purchase-course */

.before-purchase-course {
  background-color: var(--white);
  height: 1973px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 425px;
}

.before-purchase-course .frame-302-T1Y8qx {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: -6px;
  min-height: 1848px;
  position: absolute;
  top: 21px;
  width: 438px;
}

.before-purchase-course .frame-253-8MzY5o {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 37px;
  justify-content: flex-start;
  min-width: 383px;
  position: relative;
  width: auto;
}

.before-purchase-course .frame-252-zh6vy8 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 37px;
  justify-content: flex-start;
  min-width: 63px;
  position: relative;
  width: auto;
}

.before-purchase-course .textlabel-wQhxiF {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 28px;
  letter-spacing: 0.00px;
  line-height: 28px;
  min-height: 28px;
  min-width: 30px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.before-purchase-course .logo-wQhxiF {
  background-color: transparent;
  flex-shrink: 1;
  height: 37px;
  margin-left: 7px;
  margin-top: -0.1px;
  mix-blend-mode: normal;
  position: relative;
  width: 26px;
}

.before-purchase-course .frame-89-zh6vy8 {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 35px;
  justify-content: flex-start;
  margin-left: 190px;
  min-width: 130px;
  position: relative;
  width: auto;
}

.before-purchase-course .frame-90-xS6JNi {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 35px;
  justify-content: flex-start;
  min-width: 97px;
  position: relative;
  width: auto;
}

.before-purchase-course .dropdown-item-x4aWdj {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 35px;
  justify-content: flex-end;
  min-width: 73px;
  mix-blend-mode: normal;
  position: relative;
  width: auto;
}

.before-purchase-course .label-R3YVbI {
  background-color: transparent;
  flex-shrink: 1;
  height: 22px;
  letter-spacing: 0.00px;
  line-height: 22.1px;
  min-height: 22px;
  min-width: 75px;
  mix-blend-mode: normal;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: 75px;
}

.before-purchase-course .money-1-x4aWdj {
  background-color: transparent;
  flex-shrink: 1;
  height: 20px;
  margin-left: 5px;
  mix-blend-mode: normal;
  position: relative;
  width: 20px;
}

.before-purchase-course .shopping-bag-2-xS6JNi {
  background-color: transparent;
  flex-shrink: 1;
  height: 24px;
  margin-left: 9px;
  mix-blend-mode: normal;
  position: relative;
  width: 23px;
}

.before-purchase-course .frame-213-8MzY5o {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 27px;
  min-height: 1784px;
  position: relative;
  width: 438px;
}

.before-purchase-course .frame-212-xAmsx9 {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 932px;
  position: relative;
  width: 438px;
}

.before-purchase-course .frame-203-NPgPRP {
  background-color: transparent;
  flex-shrink: 1;
  height: 346px;
  position: relative;
  width: 438px;
}

.before-purchase-course .view-qbS7nu {
  background-color: transparent;
  height: 278px;
  left: 6px;
  position: absolute;
  top: -0px;
  width: 425px;
}

.before-purchase-course .group-114-qbS7nu {
  background-color: transparent;
  height: 69px;
  left: 0px;
  position: absolute;
  top: 278px;
  width: 444px;
}

.before-purchase-course .rectangle-132-fDNKcv {
  background-color: var(--white);
  height: 69px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 438px;
}

.before-purchase-course .overview-fDNKcv {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 18px;
  width: 83px;
}

.before-purchase-course .my-notes-fDNKcv {
  background-color: transparent;
  height: auto;
  left: 155px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 18px;
  width: 81px;
}

.before-purchase-course .activities-fDNKcv {
  background-color: transparent;
  height: auto;
  left: 286px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 19px;
  width: 82px;
}

.before-purchase-course .rectangle-133-fDNKcv {
  background-color: var(--isko-raven);
  height: 7px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 61px;
  width: 120px;
}

.before-purchase-course .frame-202-NPgPRP {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 24px;
  min-height: 562px;
  position: relative;
  width: 390px;
}

.before-purchase-course .frame-201-l4NSAM {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 127px;
  position: relative;
  width: 383px;
}

.before-purchase-course .frame-196-4JeOFG {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 102px;
  position: relative;
  width: 383px;
}

.before-purchase-course .understanding-t-of-course-title-MVESfo {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 38px;
  min-width: 375px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 375px;
}

.before-purchase-course .frame-195-MVESfo {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 23px;
  justify-content: flex-start;
  margin-top: 41px;
  min-width: 383px;
  position: relative;
  width: auto;
}

.before-purchase-course .charlene-tormes-3oebVq {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 23px;
  min-width: 133px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.before-purchase-course .frame-8-3oebVq {
  background-color: transparent;
  flex-shrink: 1;
  height: 24px;
  margin-left: 135px;
  margin-top: -0.25px;
  position: relative;
  width: 115px;
}

.before-purchase-course .frame-194-4JeOFG {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 20px;
  justify-content: flex-start;
  margin-top: 5px;
  min-width: 209px;
  position: relative;
  width: auto;
}

.before-purchase-course .frame-192-srnXXr {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 20px;
  justify-content: flex-end;
  min-width: 64px;
  position: relative;
  width: auto;
}

.before-purchase-course .vector-LUveYw {
  background-color: transparent;
  flex-shrink: 1;
  height: 12px;
  mix-blend-mode: normal;
  position: relative;
  width: 12px;
}

.before-purchase-course .x1h-34m-LUveYw {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 4px;
  min-height: 20px;
  min-width: 49px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.before-purchase-course .frame-193-srnXXr {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 20px;
  justify-content: flex-end;
  margin-left: 27px;
  min-width: 118px;
  position: relative;
  width: auto;
}

.before-purchase-course .user-1-1-fRU3bl {
  background-color: transparent;
  flex-shrink: 1;
  height: 12px;
  mix-blend-mode: normal;
  position: relative;
  width: 12px;
}

.before-purchase-course .x753-downloads-fRU3bl {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 4px;
  min-height: 20px;
  min-width: 103px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.before-purchase-course .frame-200-l4NSAM {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 37px;
  min-height: 398px;
  position: relative;
  width: 390px;
}

.before-purchase-course .lorem-ipsum-is-ially-unchanged-Yr0MP6 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 164px;
  min-width: 392px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 392px;
}

.before-purchase-course .objectives-Yr0MP6 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 26px;
  min-height: 31px;
  min-width: 94px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 94px;
}

.before-purchase-course .lorem-ipsum-is-of-the-printing-Yr0MP6 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 26px;
  min-height: 151px;
  min-width: 392px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 392px;
}

.before-purchase-course .frame-199-xAmsx9 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 50px;
  min-height: 305px;
  position: relative;
  width: 390px;
}

.before-purchase-course .line-13-sO7Tyd {
  background-color: transparent;
  flex-shrink: 1;
  height: 2px;
  margin-top: 0px;
  position: relative;
  width: 383px;
}

.before-purchase-course .frame-205-sO7Tyd {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 26px;
  justify-content: flex-start;
  margin-top: 30px;
  min-width: 134px;
  position: relative;
  width: auto;
}

.before-purchase-course .x3-lessons-1h-34m-wt6TxV {
  background-color: transparent;
  color: var(--black);
  flex-shrink: 1;
  font-family: var(--font-family-hind);
  font-size: 16.5px;
  font-style: normal;
  font-weight: 600;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 26px;
  min-width: 136px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.before-purchase-course .frame-206-sO7Tyd {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 30px;
  min-height: 217px;
  position: relative;
  width: 383px;
}

.x24054162 {
  background-color: transparent;
  flex-shrink: 1;
  height: 66px;
  opacity: 1;
  position: relative;
  width: 383px;
}

.x24054162 .rectangle-134-d3ss3p {
  background-color: #2f115f;
  height: 66px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 383px;
}

.x24054162 .group-55-d3ss3p {
  background-color: transparent;
  height: 38px;
  left: 41px;
  opacity: 1;
  position: absolute;
  top: 14px;
  width: 102px;
}

.x24054162 .lesson-number-1-240541621503197-x1BjGc {
  background-color: transparent;
  color: #f4f2f8;
  font-family: 'Hind', Helvetica;
  font-size: 13.7px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 100px;
}

.x24054162 .x1123-i240541621503198-x1BjGc {
  background-color: transparent;
  color: #f4f2f8;
  font-family: 'Hind', Helvetica;
  font-size: 11.8px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 19px;
  width: 24px;
}

.x24054162 .play-button-1-1-d3ss3p {
  background-color: transparent;
  height: 18px;
  left: 11px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 14px;
  width: 17px;
}

.x24054163 {
  background-color: transparent;
  flex-shrink: 1;
  height: 66px;
  margin-top: 10px;
  opacity: 1;
  position: relative;
  width: 383px;
}

.x24054163 .rectangle-134-scfd3z {
  background-color: #f2f2f2;
  height: 66px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 383px;
}

.x24054163 .group-55-scfd3z {
  background-color: transparent;
  height: 38px;
  left: 41px;
  opacity: 1;
  position: absolute;
  top: 14px;
  width: 105px;
}

.x24054163 .lesson-number-1-240541631503270-uK70px {
  background-color: transparent;
  color: #828282;
  font-family: 'Hind', Helvetica;
  font-size: 13.7px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.x24054163 .x1123-i240541631503271-uK70px {
  background-color: transparent;
  color: #828282;
  font-family: 'Hind', Helvetica;
  font-size: 11.8px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 19px;
  width: 24px;
}

.x24054163 .vector-scfd3z {
  background-color: transparent;
  height: 12px;
  left: 16px;
  opacity: 1;
  position: absolute;
  top: 18px;
  width: 10px;
}

.x24054164 {
  background-color: transparent;
  flex-shrink: 1;
  height: 66px;
  margin-top: 10px;
  opacity: 1;
  position: relative;
  width: 383px;
}

.x24054164 .rectangle-134-vWRjx6 {
  background-color: #f2f2f2;
  height: 66px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 383px;
}

.x24054164 .group-55-vWRjx6 {
  background-color: transparent;
  height: 38px;
  left: 41px;
  opacity: 1;
  position: absolute;
  top: 14px;
  width: 105px;
}

.x24054164 .lesson-number-1-240541641503270-k8ZFPi {
  background-color: transparent;
  color: #828282;
  font-family: 'Hind', Helvetica;
  font-size: 13.7px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.x24054164 .x1123-i240541641503271-k8ZFPi {
  background-color: transparent;
  color: #828282;
  font-family: 'Hind', Helvetica;
  font-size: 11.8px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 19px;
  width: 24px;
}

.x24054164 .vector-vWRjx6 {
  background-color: transparent;
  height: 12px;
  left: 16px;
  opacity: 1;
  position: absolute;
  top: 18px;
  width: 10px;
}

.before-purchase-course .frame-204-xAmsx9 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 49px;
  min-height: 447px;
  position: relative;
  width: 389px;
}

.before-purchase-course .line-13-Ma2BGN {
  background-color: transparent;
  flex-shrink: 1;
  height: 2px;
  margin-top: 0px;
  position: relative;
  width: 383px;
}

.before-purchase-course .frame-198-Ma2BGN {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 30px;
  min-height: 416px;
  position: relative;
  width: 389px;
}

.before-purchase-course .courses-you-might-like-R8objP {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 27.3px;
  min-height: 27px;
  min-width: 265px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.before-purchase-course .frame-197-R8objP {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 29px;
  min-height: 360px;
  position: relative;
  width: 389px;
}

.before-purchase-course .hv-false-ZO31xY {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 4.23px;
  box-shadow: 0px 4px 50px #0000000d;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 173px;
  justify-content: flex-start;
  mix-blend-mode: normal;
  overflow: hidden;
  padding: 16.9px 16.9px;
  position: relative;
  width: 389px;
}

.before-purchase-course .image-placeholder-CoFu1G {
  background-color: var(--alabaster-2);
  border-radius: 4.23px;
  flex-shrink: 1;
  height: 140px;
  margin-left: 0px;
  mix-blend-mode: normal;
  position: relative;
  width: 140px;
}

.before-purchase-course .icon-i240541701501264-FKDxGy {
  background-color: transparent;
  height: 35px;
  left: 57px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 52px;
  width: 28px;
}

.before-purchase-course .image-54-FKDxGy {
  background-color: transparent;
  height: 140px;
  left: -0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: -0px;
  width: 140px;
}

.before-purchase-course .frame-9-FKDxGy {
  align-items: flex-end;
  background-color: var(--ocean-green-pearl);
  border-radius: 5.44px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 16px;
  justify-content: flex-end;
  left: 88px;
  min-width: 45px;
  mix-blend-mode: normal;
  padding: 0.9px 2.2px;
  position: absolute;
  top: 8px;
  width: auto;
}

.before-purchase-course .php-1500-i240541701501397-a6Op1C {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 14px;
  min-width: 39px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 39px;
}

.before-purchase-course .text-block-heading-4-CoFu1G {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 16px;
  min-height: 140px;
  position: relative;
  width: 199px;
}

.before-purchase-course .frame-189-mZf6bH {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 61px;
  position: relative;
  width: 199px;
}

.before-purchase-course .frame-188-3H4uzw {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 44px;
  position: relative;
  width: 199px;
}

.before-purchase-course .title-i240541701501245-OP0pRk {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 32px;
  min-width: 201px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 201px;
}

.before-purchase-course .x10-videos-i240541701501297-OP0pRk {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 0px;
  min-height: 12px;
  min-width: 38px;
  mix-blend-mode: normal;
  position: relative;
  text-align: right;
  width: auto;
}

.before-purchase-course .frame-8-3H4uzw {
  background-color: transparent;
  flex-shrink: 1;
  height: 13px;
  margin-left: -0.29px;
  margin-top: 4px;
  position: relative;
  width: 64px;
}

.before-purchase-course .text-i240541701501246-mZf6bH {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 15.2px;
  margin-top: 8px;
  min-height: 45px;
  min-width: 201px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 201px;
}

.before-purchase-course .frame-73-mZf6bH {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 24px;
  justify-content: flex-start;
  margin-top: 8px;
  min-width: 114px;
  position: relative;
  width: auto;
}

.before-purchase-course .button-tertiary-9aoDxN {
  align-items: center;
  background-color: var(--white);
  border-radius: 3.38px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 24px;
  justify-content: flex-start;
  min-width: 114px;
  mix-blend-mode: normal;
  position: relative;
  width: auto;
}

.before-purchase-course .label-i240541701501254-5ecFTO {
  background-color: transparent;
  flex-shrink: 1;
  height: 24px;
  letter-spacing: 0.00px;
  line-height: 23.7px;
  min-height: 24px;
  min-width: 89px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.before-purchase-course .icon-i240541701501255-5ecFTO {
  background-color: transparent;
  flex-shrink: 1;
  height: 20px;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 4px;
  min-height: 20px;
  min-width: 22px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: 22px;
}

.before-purchase-course .hv-false-cC6Ozx {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 4.23px;
  box-shadow: 0px 4px 50px #0000000d;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 173px;
  justify-content: flex-start;
  margin-top: 13px;
  mix-blend-mode: normal;
  overflow: hidden;
  padding: 16.9px 16.9px;
  position: relative;
  width: 389px;
}

.before-purchase-course .image-placeholder-lckFO4 {
  background-color: var(--alabaster-2);
  border-radius: 4.23px;
  flex-shrink: 1;
  height: 140px;
  margin-left: 0px;
  mix-blend-mode: normal;
  position: relative;
  width: 140px;
}

.before-purchase-course .icon-i240541711501264-BKiG4X {
  background-color: transparent;
  height: 35px;
  left: 57px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 52px;
  width: 28px;
}

.before-purchase-course .image-54-BKiG4X {
  background-color: transparent;
  height: 140px;
  left: -0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: -0px;
  width: 140px;
}

.before-purchase-course .frame-9-BKiG4X {
  align-items: flex-end;
  background-color: var(--ocean-green-pearl);
  border-radius: 5.44px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 16px;
  justify-content: flex-end;
  left: 88px;
  min-width: 45px;
  mix-blend-mode: normal;
  padding: 0.9px 2.2px;
  position: absolute;
  top: 8px;
  width: auto;
}

.before-purchase-course .php-1500-i240541711501397-uuuqgX {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 14px;
  min-width: 39px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 39px;
}

.before-purchase-course .text-block-heading-4-lckFO4 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 16px;
  min-height: 140px;
  position: relative;
  width: 199px;
}

.before-purchase-course .frame-189-5lqDie {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 61px;
  position: relative;
  width: 199px;
}

.before-purchase-course .frame-188-TFdWmL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 44px;
  position: relative;
  width: 199px;
}

.before-purchase-course .title-i240541711501245-aJufJF {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 32px;
  min-width: 201px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 201px;
}

.before-purchase-course .x10-videos-i240541711501297-aJufJF {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 0px;
  min-height: 12px;
  min-width: 38px;
  mix-blend-mode: normal;
  position: relative;
  text-align: right;
  width: auto;
}

.before-purchase-course .frame-8-TFdWmL {
  background-color: transparent;
  flex-shrink: 1;
  height: 13px;
  margin-left: -0.29px;
  margin-top: 4px;
  position: relative;
  width: 64px;
}

.before-purchase-course .text-i240541711501246-5lqDie {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 15.2px;
  margin-top: 8px;
  min-height: 45px;
  min-width: 201px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 201px;
}

.before-purchase-course .frame-73-5lqDie {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 24px;
  justify-content: flex-start;
  margin-top: 8px;
  min-width: 114px;
  position: relative;
  width: auto;
}

.before-purchase-course .button-tertiary-xkopOR {
  align-items: center;
  background-color: var(--white);
  border-radius: 3.38px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 24px;
  justify-content: flex-start;
  min-width: 114px;
  mix-blend-mode: normal;
  position: relative;
  width: auto;
}

.before-purchase-course .label-i240541711501254-Dpva4I {
  background-color: transparent;
  flex-shrink: 1;
  height: 24px;
  letter-spacing: 0.00px;
  line-height: 23.7px;
  min-height: 24px;
  min-width: 89px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.before-purchase-course .icon-i240541711501255-Dpva4I {
  background-color: transparent;
  flex-shrink: 1;
  height: 20px;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 4px;
  min-height: 20px;
  min-width: 22px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: 22px;
}

.before-purchase-course .add-to-cart-button-T1Y8qx {
  align-items: center;
  background-color: var(--ocean-green-pearl);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 66px;
  justify-content: flex-start;
  left: 0px;
  min-width: 425px;
  mix-blend-mode: normal;
  padding: 0 44px;
  position: absolute;
  top: 723px;
  width: auto;
}

.before-purchase-course .frame-207-stSj53 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 34px;
  justify-content: flex-start;
  margin-left: 0px;
  min-width: 337px;
  position: relative;
  width: auto;
}

.before-purchase-course .add-zsoO69 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 34px;
  min-width: 156px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.before-purchase-course .p1500-zsoO69 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 112px;
  min-height: 34px;
  min-width: 71px;
  mix-blend-mode: normal;
  position: relative;
  text-align: right;
  width: auto;
}
/* component - 240_54162 */

.x24054162 .rectangle-134-d3ss3p {
  background-color: #2f115f;
  height: 66px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 383px;
}

.x24054162 .group-55-d3ss3p {
  background-color: transparent;
  height: 38px;
  left: 41px;
  opacity: 1;
  position: absolute;
  top: 14px;
  width: 102px;
}

.x24054162 .lesson-number-1-240541621503197-x1BjGc {
  background-color: transparent;
  color: #f4f2f8;
  font-family: 'Hind', Helvetica;
  font-size: 13.7px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 100px;
}

.x24054162 .x1123-i240541621503198-x1BjGc {
  background-color: transparent;
  color: #f4f2f8;
  font-family: 'Hind', Helvetica;
  font-size: 11.8px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 19px;
  width: 24px;
}

.x24054162 .play-button-1-1-d3ss3p {
  background-color: transparent;
  height: 18px;
  left: 11px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 14px;
  width: 17px;
}
/* component - 240_54163 */

.x24054163 .rectangle-134-scfd3z {
  background-color: #f2f2f2;
  height: 66px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 383px;
}

.x24054163 .group-55-scfd3z {
  background-color: transparent;
  height: 38px;
  left: 41px;
  opacity: 1;
  position: absolute;
  top: 14px;
  width: 105px;
}

.x24054163 .lesson-number-1-240541631503270-uK70px {
  background-color: transparent;
  color: #828282;
  font-family: 'Hind', Helvetica;
  font-size: 13.7px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.x24054163 .x1123-i240541631503271-uK70px {
  background-color: transparent;
  color: #828282;
  font-family: 'Hind', Helvetica;
  font-size: 11.8px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 19px;
  width: 24px;
}

.x24054163 .vector-scfd3z {
  background-color: transparent;
  height: 12px;
  left: 16px;
  opacity: 1;
  position: absolute;
  top: 18px;
  width: 10px;
}
/* component - 240_54164 */

.x24054164 .rectangle-134-vWRjx6 {
  background-color: #f2f2f2;
  height: 66px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 383px;
}

.x24054164 .group-55-vWRjx6 {
  background-color: transparent;
  height: 38px;
  left: 41px;
  opacity: 1;
  position: absolute;
  top: 14px;
  width: 105px;
}

.x24054164 .lesson-number-1-240541641503270-k8ZFPi {
  background-color: transparent;
  color: #828282;
  font-family: 'Hind', Helvetica;
  font-size: 13.7px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.x24054164 .x1123-i240541641503271-k8ZFPi {
  background-color: transparent;
  color: #828282;
  font-family: 'Hind', Helvetica;
  font-size: 11.8px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 19px;
  width: 24px;
}

.x24054164 .vector-vWRjx6 {
  background-color: transparent;
  height: 12px;
  left: 16px;
  opacity: 1;
  position: absolute;
  top: 18px;
  width: 10px;
}
