/* screen - 8-selected-playlist */

.x8-selected-playlist {
  background-color: var(--white);
  height: 1605px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1280px;
}

.x8-selected-playlist .body-DCbe4v {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 51px;
  min-height: 1349px;
  position: absolute;
  top: 64px;
  width: 1221px;
}

.x8-selected-playlist .topnav-pMRGQV {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 48px;
  justify-content: flex-start;
  min-width: 1182px;
  position: relative;
  width: auto;
}

.x8-selected-playlist .component-6-jXehNF {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 38px;
  justify-content: flex-start;
  min-width: 213px;
  mix-blend-mode: normal;
  position: relative;
  width: auto;
}

.x8-selected-playlist .logo-PrTdNp {
  background-color: transparent;
  flex-shrink: 1;
  height: 38px;
  margin-left: 0px;
  mix-blend-mode: normal;
  position: relative;
  width: 28px;
}

.x8-selected-playlist .title-i23025235735-PrTdNp {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 46.8px;
  margin-left: 19px;
  margin-top: -5px;
  min-height: 47px;
  min-width: 96px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x8-selected-playlist .frame-85-jXehNF {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 48px;
  justify-content: flex-start;
  margin-left: 470px;
  min-width: 499px;
  position: relative;
  width: auto;
}

.x8-selected-playlist .right-v1zTpO {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 48px;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
  width: 499px;
}

.x8-selected-playlist .menu-horizontal-iCXLA1 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 48px;
  justify-content: flex-start;
  min-width: 471px;
  mix-blend-mode: normal;
  padding: 0 24px;
  position: relative;
  width: auto;
}

.x8-selected-playlist .dropdown-item-IxkKd4 {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 48px;
  justify-content: flex-start;
  margin-left: 0px;
  min-width: 48px;
  mix-blend-mode: normal;
  position: relative;
  width: auto;
}

.x8-selected-playlist .label-Iy29xV {
  background-color: transparent;
  flex-shrink: 1;
  height: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  min-height: 24px;
  min-width: 50px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x8-selected-playlist .dropdown-item-pxhXRr {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 48px;
  justify-content: flex-start;
  margin-left: 24px;
  min-width: 53px;
  mix-blend-mode: normal;
  position: relative;
  width: auto;
}

.x8-selected-playlist .label-uWCmck {
  background-color: transparent;
  flex-shrink: 1;
  height: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  min-height: 24px;
  min-width: 55px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x8-selected-playlist .dropdown-item-vfaDlR {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 48px;
  justify-content: flex-start;
  margin-left: 24px;
  min-width: 42px;
  mix-blend-mode: normal;
  position: relative;
  width: auto;
}

.x8-selected-playlist .label-Nmiy8J {
  background-color: transparent;
  flex-shrink: 1;
  height: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  min-height: 24px;
  min-width: 44px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x8-selected-playlist .dropdown-item-h6ExwW {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 48px;
  justify-content: flex-start;
  margin-left: 24px;
  min-width: 89px;
  mix-blend-mode: normal;
  position: relative;
  width: auto;
}

.x8-selected-playlist .label-jmNfoJ {
  background-color: transparent;
  flex-shrink: 1;
  height: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  min-height: 24px;
  min-width: 91px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x8-selected-playlist .dropdown-item-urlLLm {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 48px;
  justify-content: flex-start;
  margin-left: 24px;
  min-width: 95px;
  mix-blend-mode: normal;
  position: relative;
  width: auto;
}

.x8-selected-playlist .label-2owoQU {
  background-color: transparent;
  flex-shrink: 1;
  height: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  min-height: 24px;
  min-width: 97px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x8-selected-playlist .essentials-user-circle-iCXLA1 {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: 28px;
  margin-left: 0px;
  position: relative;
  width: 28px;
}

.x8-selected-playlist .frame-167-pMRGQV {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 41px;
  min-height: 1260px;
  position: relative;
  width: 1221px;
}

.x8-selected-playlist .frame-131-rF2hnA {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 64px;
  justify-content: flex-start;
  min-width: 620px;
  position: relative;
  width: auto;
}

.x8-selected-playlist .welcome-back-charlene-HXlV1E {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 63.6px;
  min-height: 64px;
  min-width: 512px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x8-selected-playlist .frame-132-HXlV1E {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 18px;
  justify-content: flex-start;
  margin-left: 28px;
  min-width: 80px;
  position: relative;
  width: auto;
}

.x8-selected-playlist .basics-heart-SlxlxL {
  background-color: transparent;
  flex-shrink: 1;
  height: 19px;
  margin-top: -0.25px;
  position: relative;
  width: 18px;
}

.x8-selected-playlist .basics-edit-SlxlxL {
  background-color: transparent;
  flex-shrink: 1;
  height: 19px;
  margin-left: 12px;
  margin-top: -0.25px;
  position: relative;
  width: 19px;
}

.x8-selected-playlist .basics-x-circle-SlxlxL {
  background-color: transparent;
  flex-shrink: 1;
  height: 19px;
  margin-left: 11px;
  margin-top: -0.25px;
  position: relative;
  width: 19px;
}

.x8-selected-playlist .frame-166-rF2hnA {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 61px;
  min-height: 1135px;
  position: relative;
  width: 1221px;
}

.x8-selected-playlist .continue-watching-NQBCaT {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 371px;
  mix-blend-mode: normal;
  position: relative;
  width: 1221px;
}

.x8-selected-playlist .flex-row-S070Gb {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 47px;
  justify-content: flex-start;
  margin-left: 1px;
  min-width: 300px;
  position: relative;
  width: auto;
}

.x8-selected-playlist .all-courses-xnyWxH {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 47px;
  min-width: 181px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x8-selected-playlist .see-all-xnyWxH {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 35px;
  margin-top: 3.0px;
  min-height: 38px;
  min-width: 84px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: auto;
}

.x8-selected-playlist .frame-82-S070Gb {
  background-color: transparent;
  flex-shrink: 1;
  height: 300px;
  margin-top: 24px;
  position: relative;
  width: 909px;
}

.x8-selected-playlist .clo-card-OBMAbw {
  background-color: transparent;
  height: 328px;
  left: -14px;
  position: absolute;
  top: -11px;
  width: 313px;
}

.x8-selected-playlist .clo-card-variant5-OBMAbw {
  background-color: transparent;
  height: 328px;
  left: 298px;
  position: absolute;
  top: -11px;
  width: 313px;
}

.x8-selected-playlist .clo-card-variant5-xCKA0O {
  background-color: transparent;
  height: 328px;
  left: 610px;
  position: absolute;
  top: -11px;
  width: 313px;
}

.x8-selected-playlist .frame-165-NQBCaT {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 51px;
  min-height: 713px;
  position: relative;
  width: 909px;
}

.x8-selected-playlist .frame-164-Qi4WM1 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 47px;
  justify-content: flex-start;
  min-width: 435px;
  position: relative;
  width: auto;
}

.x8-selected-playlist .all-learning-objects-x1FW01 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 47px;
  min-width: 319px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x8-selected-playlist .see-all-x1FW01 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 34px;
  min-height: 38px;
  min-width: 84px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: auto;
}

.x8-selected-playlist .frame-82-Qi4WM1 {
  background-color: transparent;
  flex-shrink: 1;
  height: 300px;
  margin-top: 33px;
  position: relative;
  width: 909px;
}

.x8-selected-playlist .clo-card-3wBmbV {
  background-color: transparent;
  height: 328px;
  left: -14px;
  position: absolute;
  top: -11px;
  width: 313px;
}

.x8-selected-playlist .clo-card-variant5-3wBmbV {
  background-color: transparent;
  height: 328px;
  left: 298px;
  position: absolute;
  top: -11px;
  width: 313px;
}

.x8-selected-playlist .clo-card-variant5-6E1vR6 {
  background-color: transparent;
  height: 328px;
  left: 610px;
  position: absolute;
  top: -11px;
  width: 313px;
}

.x8-selected-playlist .frame-83-Qi4WM1 {
  background-color: transparent;
  flex-shrink: 1;
  height: 300px;
  margin-top: 33px;
  position: relative;
  width: 909px;
}

.x8-selected-playlist .clo-card-hKRX9Y {
  background-color: transparent;
  height: 328px;
  left: -14px;
  position: absolute;
  top: -11px;
  width: 313px;
}

.x8-selected-playlist .clo-card-variant5-hKRX9Y {
  background-color: transparent;
  height: 328px;
  left: 298px;
  position: absolute;
  top: -11px;
  width: 313px;
}

.x8-selected-playlist .clo-card-variant5-e2gFDa {
  background-color: transparent;
  height: 328px;
  left: 610px;
  position: absolute;
  top: -11px;
  width: 313px;
}

.x8-selected-playlist .dropdown-crud-DCbe4v {
  align-items: center;
  background-color: var(--isko-white);
  border-radius: 4.3px;
  box-shadow: 0px 4px 40px #00000026;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 864px;
  min-height: 131px;
  mix-blend-mode: normal;
  padding: 8px 0;
  position: absolute;
  top: 589px;
  width: 210px;
}

.x8-selected-playlist .frame-127-WsIU3q {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 0px;
  min-height: 31px;
  position: relative;
  width: 180px;
}

.x8-selected-playlist .remove-vAW8kx {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 26px;
  min-width: 72px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x8-selected-playlist .line-12-vAW8kx {
  background-color: transparent;
  flex-shrink: 1;
  height: 1px;
  margin-left: -0.19px;
  margin-top: 4px;
  mix-blend-mode: normal;
  position: relative;
  width: 180px;
}

.x8-selected-playlist .frame-128-WsIU3q {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 5px;
  min-height: 31px;
  position: relative;
  width: 180px;
}

.x8-selected-playlist .move-to-playlist-U7ilzL {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 26px;
  min-width: 133px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x8-selected-playlist .line-12-U7ilzL {
  background-color: transparent;
  flex-shrink: 1;
  height: 1px;
  margin-left: -0.19px;
  margin-top: 4px;
  mix-blend-mode: normal;
  position: relative;
  width: 180px;
}

.x8-selected-playlist .frame-129-WsIU3q {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 5px;
  min-height: 31px;
  position: relative;
  width: 180px;
}

.x8-selected-playlist .add-to-playlist-hKwSnq {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 26px;
  min-width: 122px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x8-selected-playlist .line-12-hKwSnq {
  background-color: transparent;
  flex-shrink: 1;
  height: 1px;
  margin-left: -0.19px;
  margin-top: 4px;
  mix-blend-mode: normal;
  position: relative;
  width: 180px;
}
/* screen - my-playlist-open */

.my-playlist-open {
  background-color: var(--white);
  height: 742px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 425px;
}

.my-playlist-open .body-cfPiyj {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 18px;
  min-height: 634px;
  position: absolute;
  top: 21px;
  width: 776px;
}

.my-playlist-open .frame-245-Ef1QNm {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 37px;
  justify-content: flex-start;
  min-width: 383px;
  position: relative;
  width: auto;
}

.my-playlist-open .frame-244-Op3qpn {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 37px;
  justify-content: flex-start;
  min-width: 63px;
  position: relative;
  width: auto;
}

.my-playlist-open .textlabel-YGpNB1 {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 28px;
  letter-spacing: 0.00px;
  line-height: 28px;
  min-height: 28px;
  min-width: 30px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.my-playlist-open .logo-YGpNB1 {
  background-color: transparent;
  flex-shrink: 1;
  height: 37px;
  margin-left: 8px;
  margin-top: -0.1px;
  mix-blend-mode: normal;
  position: relative;
  width: 25px;
}

.my-playlist-open .frame-89-Op3qpn {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 35px;
  justify-content: flex-start;
  margin-left: 190px;
  min-width: 130px;
  position: relative;
  width: auto;
}

.my-playlist-open .frame-90-STd4GS {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 35px;
  justify-content: flex-start;
  min-width: 97px;
  position: relative;
  width: auto;
}

.my-playlist-open .dropdown-item-ACLnUx {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 35px;
  justify-content: flex-end;
  min-width: 73px;
  mix-blend-mode: normal;
  position: relative;
  width: auto;
}

.my-playlist-open .label-lcxelV {
  background-color: transparent;
  flex-shrink: 1;
  height: 22px;
  letter-spacing: 0.00px;
  line-height: 22.1px;
  min-height: 22px;
  min-width: 75px;
  mix-blend-mode: normal;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: 75px;
}

.my-playlist-open .money-1-ACLnUx {
  background-color: transparent;
  flex-shrink: 1;
  height: 20px;
  margin-left: 4px;
  mix-blend-mode: normal;
  position: relative;
  width: 20px;
}

.my-playlist-open .shopping-bag-2-STd4GS {
  background-color: transparent;
  flex-shrink: 1;
  height: 24px;
  margin-left: 9px;
  mix-blend-mode: normal;
  position: relative;
  width: 23px;
}

.my-playlist-open .frame-296-Ef1QNm {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 48px;
  min-height: 549px;
  position: relative;
  width: 776px;
}

.my-playlist-open .frame-167-KGYOWL {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 31px;
  justify-content: flex-start;
  min-width: 300px;
  position: relative;
  width: auto;
}

.my-playlist-open .charlenes-playlist-svTjgq {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 30.8px;
  min-height: 31px;
  min-width: 249px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 249px;
}

.my-playlist-open .frame-132-svTjgq {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 9px;
  justify-content: center;
  margin-left: 12px;
  min-width: 39px;
  position: relative;
  width: auto;
}

.my-playlist-open .basics-heart-H3he8n {
  background-color: transparent;
  flex-shrink: 1;
  height: 10px;
  margin-top: -0.52px;
  position: relative;
  width: 10px;
}

.my-playlist-open .basics-edit-H3he8n {
  background-color: transparent;
  flex-shrink: 1;
  height: 10px;
  margin-left: 4px;
  margin-top: -0.52px;
  position: relative;
  width: 10px;
}

.my-playlist-open .basics-x-circle-H3he8n {
  background-color: transparent;
  flex-shrink: 1;
  height: 10px;
  margin-left: 4px;
  margin-top: -0.52px;
  position: relative;
  width: 10px;
}

.my-playlist-open .frame-295-KGYOWL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 24px;
  min-height: 494px;
  position: relative;
  width: 776px;
}

.my-playlist-open .continue-watching-dHqLAS {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 236px;
  mix-blend-mode: normal;
  position: relative;
  width: 776px;
}

.my-playlist-open .flex-row-NPJDxc {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 30px;
  justify-content: flex-start;
  margin-left: 0.64px;
  margin-top: 0px;
  min-width: 185px;
  position: relative;
  width: auto;
}

.my-playlist-open .all-courses-tndSOR {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 30px;
  min-width: 116px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.my-playlist-open .see-all-tndSOR {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 15px;
  margin-top: 1.78px;
  min-height: 24px;
  min-width: 54px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: 54px;
}

.my-playlist-open .frame-82-NPJDxc {
  background-color: transparent;
  flex-shrink: 1;
  height: 191px;
  margin-top: 15px;
  position: relative;
  width: 776px;
}

.my-playlist-open .clo-card-yjaVfe {
  background-color: transparent;
  height: 209px;
  left: -9px;
  position: absolute;
  top: -7px;
  width: 199px;
}

.my-playlist-open .clo-card-variant5-yjaVfe {
  background-color: transparent;
  height: 209px;
  left: 189px;
  position: absolute;
  top: -7px;
  width: 200px;
}

.my-playlist-open .clo-card-variant5-e5EXax {
  background-color: transparent;
  height: 209px;
  left: 388px;
  position: absolute;
  top: -7px;
  width: 199px;
}

.my-playlist-open .clo-card-e5EXax {
  background-color: transparent;
  height: 209px;
  left: 586px;
  position: absolute;
  top: -7px;
  width: 199px;
}

.my-playlist-open .continue-watching-zNkdFZ {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 22px;
  min-height: 236px;
  mix-blend-mode: normal;
  position: relative;
  width: 776px;
}

.my-playlist-open .flex-row-i0KI1t {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 30px;
  justify-content: flex-start;
  margin-left: 0.64px;
  margin-top: 0px;
  min-width: 185px;
  position: relative;
  width: auto;
}

.my-playlist-open .all-objects-vTpHFD {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 30px;
  min-width: 111px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.my-playlist-open .see-all-vTpHFD {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 20px;
  margin-top: 1.78px;
  min-height: 24px;
  min-width: 54px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: 54px;
}

.my-playlist-open .frame-82-i0KI1t {
  background-color: transparent;
  flex-shrink: 1;
  height: 191px;
  margin-top: 15px;
  position: relative;
  width: 776px;
}

.my-playlist-open .clo-card-pv4jUX {
  background-color: transparent;
  height: 208px;
  left: -9px;
  position: absolute;
  top: -7px;
  width: 199px;
}

.my-playlist-open .clo-card-variant5-pv4jUX {
  background-color: transparent;
  height: 208px;
  left: 189px;
  position: absolute;
  top: -7px;
  width: 200px;
}

.my-playlist-open .clo-card-variant5-WMxn7a {
  background-color: transparent;
  height: 208px;
  left: 388px;
  position: absolute;
  top: -7px;
  width: 199px;
}

.my-playlist-open .clo-card-WMxn7a {
  background-color: transparent;
  height: 208px;
  left: 586px;
  position: absolute;
  top: -7px;
  width: 199px;
}

.my-playlist-open .type-primary-enabled-true-cfPiyj {
  align-items: center;
  background-color: var(--isko-raven);
  border-radius: 999px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 48px;
  justify-content: flex-end;
  left: 352px;
  min-width: 48px;
  mix-blend-mode: normal;
  padding: 0 10px;
  position: absolute;
  top: 620px;
  width: auto;
}

.my-playlist-open .icon-i24052765149662-FcwXzA {
  background-color: transparent;
  flex-shrink: 1;
  height: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 24px;
  min-width: 26px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: 26px;
}

.my-playlist-open .dropdown-crud-cfPiyj {
  align-items: center;
  background-color: var(--isko-white);
  border-radius: 2.48px;
  box-shadow: 0px 2.3035471439361572px 23.035470962524414px #00000026;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 129px;
  min-height: 75px;
  mix-blend-mode: normal;
  padding: 4.6px 0;
  position: absolute;
  top: 558px;
  width: 121px;
}

.my-playlist-open .frame-127-BdBiuL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 0px;
  min-height: 18px;
  position: relative;
  width: 104px;
}

.my-playlist-open .remove-mAxGsc {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 15px;
  min-width: 42px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 42px;
}

.my-playlist-open .line-12-mAxGsc {
  background-color: transparent;
  flex-shrink: 1;
  height: 1px;
  margin-left: -0.14px;
  margin-top: 2px;
  mix-blend-mode: normal;
  position: relative;
  width: 104px;
}

.my-playlist-open .frame-128-BdBiuL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 2px;
  min-height: 18px;
  position: relative;
  width: 104px;
}

.my-playlist-open .move-to-playlist-0vOMTA {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 15px;
  min-width: 77px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 77px;
}

.my-playlist-open .line-12-0vOMTA {
  background-color: transparent;
  flex-shrink: 1;
  height: 1px;
  margin-left: -0.14px;
  margin-top: 2px;
  mix-blend-mode: normal;
  position: relative;
  width: 104px;
}

.my-playlist-open .frame-129-BdBiuL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 2px;
  min-height: 18px;
  position: relative;
  width: 104px;
}

.my-playlist-open .add-to-playlist-7OwoX6 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 15px;
  min-width: 71px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 71px;
}

.my-playlist-open .line-12-7OwoX6 {
  background-color: transparent;
  flex-shrink: 1;
  height: 1px;
  margin-left: -0.14px;
  margin-top: 2px;
  mix-blend-mode: normal;
  position: relative;
  width: 104px;
}
@media screen and (max-width: 1279px) {
  .screen.x8-selected-playlist { 
    display: none;
   }
}
@media screen and (min-width: 1280px) {
  .screen.my-playlist-open { 
    display: none;
   }
}